<div class="common-products mt-5">
    <div class="prod-head mb-3 mt-3">
      <h2>RELATED PRODUCTS</h2>
  
    </div>
    <div class="row me-4 ms-4">
      <div
        class="col-2"
        *ngFor="let product of products | slice : 0 : 6; let i = index"
      >
        <div class="card mb-3 col-2 border-0">
          <div class="main card d-flex border-0">
            <div
              class="card-image"
              (mouseover)="showSecondImage[i] = true"
              (mouseout)="showSecondImage[i] = false"
            >
              <div class="overlay" *ngIf="showSecondImage[i]"></div>
              <img
                *ngIf="!showSecondImage[i]"
                [src]="product.image1"
                alt="{{ product.title }}"
                style="height: 284px; width: 209px"
              />
              <img
                *ngIf="showSecondImage[i]"
                [src]="product.image2"
                alt="{{ product.title }}"
                style="height: 284px; width: 209px"
              />
              <div class="icons" *ngIf="showSecondImage[i]">
                <i class="fa fa-shopping-cart" (click)="addToCart(product)"></i>
                <i class="fa fa-heart" (click)="addToWishlist(product)"></i>
                <i class="fa fa-search" aria-hidden="true"></i>
                <i
                  class="fa fa-refresh"
                  (click)="scrollToTop()"
                  aria-hidden="true"
                ></i>
              </div>
            </div>
            <div class="card-details">
              <div class="card-body">
                <ng-container *ngFor="let star of [1, 2, 3, 4, 5]">
                  <span class="star" [class.rated]="star <= product.rating">
                    <i class="fa fa-star" aria-hidden="true"></i>
                  </span>
                </ng-container>
                <p class="card-text text-muted mt-0 mb-0">{{ product.title }}</p>
                <h5 class="card-text pricetxt fw-bold mt-0">{{ "$" + product.price }}</h5>
                <ul type="none" class="color-variants">
                  <li class="color1"></li>
                  <li class="color2"></li>
                  <li class="color3"></li>
                  <li></li>
                  <li></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
