

* {
  box-sizing: border-box;
  font-family: "lato", sans-serif;
}
  /*    */

  .prod-head{
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
    margin-left: 51px;
    margin-right: 30px;
    }
    .prod-head h2{
      font-size: 36px;
      color: #222;
      font-weight: 700;
      line-height: 1;
      letter-spacing: .02em;
    }
    
    .card {
      position: relative;
      width: 200px; /* Adjust the width as needed */
      margin-top:  20px;
      margin: 10px;
      border: 1px solid #ccc;
    }
    .card-image {
      position: relative;
      overflow: hidden;
    }
    
    .card-image img {
      
      height:284px;
      width:209px;
      transition: transform 0.3s ease-in-out;
    }
    
    .icons {
      position: absolute;
      bottom: 10px;
      right: 10px;
      display: flex;
      gap: 10px;
      color: #fff;
    }
    
    .icons i {
      color: #ddd;
      cursor: pointer;
      font-size: 20px;
    }
    .icons i:hover{
      color: orangered;
    }
    .icon-container {
      display: flex;
      flex-direction: column;
      align-items: flex-end; /* Adjust this if needed to align the icons */
    }
    
    .icons {
      display: flex;
      flex-direction: column;
    }
    .card {
      margin-right: 10px; /* Adjust margin as needed */
    }
    
    
    .rating {
      font-size: 24px;
    }
  
    .star {
      cursor: pointer;
      font-size: 13px;
      margin-right: 7px;
    }
  
    /* Set non-rated star color */
    .star:not(.rated) {
      color: #ddd;
    }
    .rated {
      color: #ffa200; /* or any color you want for rated stars */
    }
  
    
    /* .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.2); /* Adjust the transparency as needed */
      /* z-index: 1; */
    /* } */
    
    .icons {
      display: flex;
      flex-direction: column;
      z-index: 2;
    }
    .pricetxt{
       font-size: 18px !important;
     
       color: #222;
       font-weight: 500 !important;
    }
    .color-variants{
      display: flex;
      padding-left: 0px;
    }
    .color1,.color2,.color3{
      border-radius: 50%;
      width: 20px;
      height: 20px;
      margin: 0px 5px 0px 0px;
    }
    .color1{
      background: #d0edff;
    }
    .color2{
      background: #f1e7e6;
    }
    .color3{
      background: #bfbfbf;
    }