
.p1{
    max-width: 12.5%;
   
}
.p2{
    max-width: 12.5%;
}
.p3{
    max-width: 12.5%;
}
.p4{
    max-width: 12.5%;
}
.p5{
    max-width: 12.5%;
}
.p6{
    max-width: 12.5%;
}
.p7{
    max-width: 12.5%;
}
.p8{
    max-width: 12.5%;
}