
    <div class="d-flex">
      <img src="../../../../assets/Images/images3/3 (1).jpg" class="p1">
      <img src="../../../../assets/Images/images3/3(2).jpg" class="p2">
      <img src="../../../../assets/Images/images3/3(3).jpg" class="p3">
      <img src="../../../../assets/Images/images3/3(4).jpg" class="p4">
      <img src="../../../../assets/Images/images3/3(5).jpg" class="p4">
      <img src="../../../../assets/Images/images3/3(6).jpg" class="p5">
      <img src="../../../../assets/Images/images3/3(7).jpg" class="p6">
      <img src="../../../../assets/Images/images3/3(8).jpg" class="p7">
    </div>