<div class="footer">
    <footer class="footer-last">
        <div class="footer-last-first-text">
            <div class="container">
                <div class="row">
                    <div class="footer-s-section">
                        <div class="col-md-6">
                            <div class="footer-sub">
                                <div>
                                    <h6>KNOW IT ALL FIRST!</h6>
                                    <p class="paragraph1">Never Miss Anything From Multikart By Signing Up To Our Newsletter.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="footer-2sub">
                                <div class="mx-sm-6">
                                    <input placeholder="Enter your email" type="text" class="footer-form form-control">
                                </div>
                                <button type="submit" class="btn footer-btn">subscribe</button>
                            </div>
                        </div>
                    </div>

                </div>
                <hr>
            </div>
        </div>
        <div class="footer-2part mt-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="footer-2part-contet">
                            <div class="footer-2part-content-img">
                                <img style="height: 38px;" src="assets/Images/logo1.png" alt="">
                            </div>
                            <p class="paragraph2" style="font-size: 15px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
                            <div class="footer-2part-contet-social">
                                <i class="fa-brands fa-facebook-f"></i>
                                <i class="fa-brands fa-google-plus-g"></i>
                                <i class="fa-brands fa-twitter"></i>
                                <i class="fa-brands fa-instagram"></i>
                                <i class="fa-solid fa-wifi"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="footer-2part-contet-links">
                            <div class="footer-2part-contet-links-title">
                                <h4>my account</h4>
                            </div>
                            <div class="footer-2part-contet-links-links">

                                <a href="#">Women</a>
                                <a href="#">Clothing</a>
                                <a href="#">Accessories</a>
                                <a href="#">Featured</a>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="footer-2part-contet-links">
                            <div class="footer-2part-contet-links-title">
                                <h4>WHY WE CHOOSE</h4>
                            </div>
                            <div class="footer-2part-contet-links-links">

                                <a href="#">Shipping & Return</a>
                                <a href="#">Secure Shopping</a>
                                <a href="#">Gallary</a>
                                <a href="#">Affiliates</a>
                                <a href="#">Contacts</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="footer-2part-contet-links">
                            <div class="footer-2part-contet-links-title">
                                <h4>STORE INFORMATION</h4>
                            </div>
                            <div class="footer-2part-contet-links-links">

                                <a href="#"> <i class="fa-solid fa-location-dot"></i>
                                    <p>Multikart Demo Store, Demo Store India 345-659</p>
                                </a>
                                <a href="#"><i class="fa-solid fa-phone"></i><p>Call Us: 123-456-7898</p></a>
                                <a href="#"><i class="fa-regular fa-envelope"></i><p>Email Us: Support@Fiot.Com</p></a>
                                <a href="#"><i class="fa-solid fa-fax"></i><p>Fax: 123456</p></a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-3part">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 footer-3part-last d-flex justify-content-start">
                        <i class="fa-regular fa-copyright"></i>
                        <p>2023-24 themeforest powered by pixelstrap</p>
                    </div>
                    <div class="col-md-6 footer-3part-payment">
                        <div class="footer-3part-payments d-flex justify-content-flex-end">
                            <a href="#" class="footer-3part-py"><img src="assets/Images/mastercard.png" alt=""></a>
                            <a href="#" class="footer-3part-py"><img src="assets/Images/paypal.png" alt=""></a>
                            <a href="#" class="footer-3part-py"><img src="assets/Images/visa.png" alt=""></a>
                            <a href="#" class="footer-3part-py"><img src="assets/Images/discover.png" alt=""></a>
                            <a href="#" class="footer-3part-py"><img src="assets/Images/american-express.png" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>