<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true"
        aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img src="../../../../assets/Images/images5/43.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5 class="a1">Protein Shake</h5><br><br>
          <p class="a2">Summer Sale</p>
          <button class="btn btn-primary a3">UP TO 50% OFF</button>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="../../../../assets/Images/images5/44.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5 class="a4">Protein Powder</h5>
          <p class="a5">Summer Sale</p>
          <button class="btn btn-primary a6">UP TO 50% OFF</button>
        </div>
      </div>
  
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  
  <br>
  <br>
  <div class="d-flex">
    <div class="image-container">
      <img src="../../../../assets/Images/images5/1.1bf2ae9f.jpg" alt="Your Image" class="h1">
      <p class="w1">SAVE 30%</p>
      <p class="w2">GYM</p>
    </div>
  
    <div class="image-container1">
      <img src="../../../../assets/Images/images5/2.02422081.jpg" alt="Your Image" class="h2">
      <p class="w3">SAVE 30%</p>
      <p class="w4">PROTEIN POWDER</p>
    </div>
  
  </div>
  
  <br>
  <br>
  <p class="pc">Special Offer</p>
  <br>
  
  <h2 class="pb">TOP COLLECTION</h2>
  
  <br>
  <div class="d-flex label-inline">
    <div class="card m1 " style="width: 20rem;">
      <img src="../../../../assets/Images/images5/21.jpg" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title v1">Whey Protein</h5>
        <h6 class="j1">$125 <del class="j2"> $250 </del></h6>
      </div>
    </div>
    <div class="card m2" style="width: 20rem;">
      <img src="../../../../assets/Images/images5/22.jpg" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title v2">Micellar Casein </h5>
        <h6 class="j1">$125 <del class="j2"> $250 </del></h6>
      </div>
    </div>
    <div class="card m3" style="width: 20rem;">
      <img src="../../../../assets/Images/images5/23.jpg" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title v3">Impact isolate</h5>
        <h6 class="j1">$125 <del class="j2"> $250 </del></h6>
      </div>
    </div>
    <div class="card m4" style="width: 20rem;">
      <img src="../../../../assets/Images/images5/24.jpg" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title v4">Diet Whey</h5>
        <h6 class="j1">$125 <del class="j2"> $250 </del></h6>
      </div>
  
    </div>
  </div>
  
  
  <div class="main">
  
    <div class="d-flex label-inline">
      <div class="card u1 " style="width: 20rem;">
        <img src="../../../../assets/Images/images5/1.jpg" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title v1">Whey Protein</h5>
          <h6 class="j1">$125 <del class="j2"> $250 </del></h6>
        </div>
      </div>
      <div class="card u2" style="width: 20rem;">
        <img src="../../../../assets/Images/images5/2.jpg" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title v2">Micellar Casein </h5>
          <h6 class="j1">$125 <del class="j2"> $250 </del></h6>
        </div>
      </div>
      <div class="card u3" style="width: 20rem;">
        <img src="../../../../assets/Images/images5/3.jpg" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title v3">Impact isolate</h5>
          <h6 class="j1">$125 <del class="j2"> $250 </del></h6>
        </div>
      </div>
      <div class="card u4" style="width: 20rem;">
        <img src="../../../../assets/Images/images5/4.jpg" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title v4">Diet Whey</h5>
          <h6 class="j1">$125 <del class="j2"> $250 </del></h6>
        </div>
      </div>
    </div>
  </div>
  
  <br>
  <br>
  
  <div>
    <div>
      <img src="../../../../assets/Images/images5/25.jpg" class="po1">
      <h2 class="pl">TOP COLLECTION</h2>
      <p class="pm">Special Offer</p>
      <p class="s1">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been <br>
        the industry's standard dummy text ever since the 1500s,</p>
    </div>
    <div class="imgscree">
      <div class="d-flex label-inline">
        <div class="card m1 " style="width: 20rem;">
          <img src="../../../../assets/Images/images5/21.jpg" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title v1">Whey Protein</h5>
            <h6 class="j1">$125 <del class="j2"> $250 </del></h6>
          </div>
        </div>
        <div class="card m2" style="width: 20rem;">
          <img src="../../../../assets/Images/images5/22.jpg" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title v2">Micellar Casein </h5>
            <h6 class="j1">$125 <del class="j2"> $250 </del></h6>
          </div>
        </div>
        <div class="card m3" style="width: 20rem;">
          <img src="../../../../assets/Images/images5/23.jpg" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title v3">Impact isolate</h5>
            <h6 class="j1">$125 <del class="j2"> $250 </del></h6>
          </div>
        </div>
        <div class="card m4" style="width: 20rem;">
          <img src="../../../../assets/Images/images5/24.jpg" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title v4">Diet Whey</h5>
            <h6 class="j1">$125 <del class="j2"> $250 </del></h6>
          </div>
  
        </div>
      </div>
    </div>
  </div>
  
  <br>
  <p class="pc" style="color:aqua;">Our Collection</p>
  <br>
  
  <h2 class="pb">SPECIAL PRODUCTS</h2>
  
  <br>
  <div class="d-flex">
    <div class="ff1">
      <img src="../../../../assets/Images/images5/3 (1).jpg" class="fr1">
      <p class="mm1">26 January 2016</p>
      <p class="mm2">Lorem ipsum dolor sit amet<br> consectetur adipisicing.</p>
      <h6>by:by: John Dio, 2 Comment</h6>
    </div>
    <div class="ff2">
      <img src="../../../../assets/Images/images5/3(2).jpg" class="fr2">
      <p class="mm1">26 January 2016</p>
      <p class="mm2">Lorem ipsum dolor sit amet<br> consectetur adipisicing.</p>
      <h6>by:by: John Dio, 2 Comment</h6>
    </div>
    <div class="ff3">
      <img src="../../../../assets/Images/images5/3(3).jpg" class="fr3">
      <p class="mm1">26 January 2016</p>
      <p class="mm2">Lorem ipsum dolor sit amet<br> consectetur adipisicing.</p>
      <h6>by:by: John Dio, 2 Comment</h6>
    </div>
  </div>
  
  <br><br><br><br><br><br><br><br><br><br>
  
  <h2 class="pb">#INSTAGRAM</h2>
  
  <br>
  <div class="d-flex">
    <div class="oo1">
     <img src="../../../../assets/Images/images5/100.jpg" class="pp1">
    </div>
    <div class="oo2">
      <img src="../../../../assets/Images/images5/1001.jpg" class="pp2">
    </div>
    <div class="oo3">
      <img src="../../../../assets/Images/images5/1002.jpg" class="pp3">
    </div>
    <div class="oo4">
      <img src="../../../../assets/Images/images5/1003.jpg" class="pp4">
    </div>
    <div class="oo5">
      <img src="../../../../assets/Images/images5/1005.jpg" class="pp5">
    </div>
    <div class="oo6">
      <img src="../../../../assets/Images/images5/1004.jpg" class="pp6">
    </div>
    <div class="oo7">
      <img src="../../../../assets/Images/images5/1006.jpg" class="pp7">
    </div>
  </div>
  
  <br>
  <br>
  
  <div class="one20">
    <div class="d-flex">
      <img src="../../../../assets/Images/images5/1.png" class="t1"><br><br><br>
      <img src="../../../../assets/Images/images5/2.png" class="t2">
      <img src="../../../../assets/Images/images5/3.png" class="t3">
      <img src="../../../../assets/Images/images5/4.png" class="t4">
      <img src="../../../../assets/Images/images5/5.png" class="t5">
      <img src="../../../../assets/Images/images5/6.png" class="t6">
      <img src="../../../../assets/Images/images5/7.png" class="t7">
      <img src="../../../../assets/Images/images5/8.png" class="t8">
    </div>
  </div>