<!--
<div class="card">
  <p-galleria [(value)]="images" [showIndicators]="true" [showThumbnails]="false" [showIndicatorsOnItem]="true" indicatorsPosition="left" [responsiveOptions]="responsiveOptions" [containerStyle]="{ 'max-width': '100%','margin-top': '2em' }">
      <ng-template pTemplate="item" let-item>
          <img [src]="item.itemImageSrc" style="width: 100%; display: block;" />
      </ng-template>
      <ng-template pTemplate="indicator" let-index>
          <span style="color: #e9ecef; cursor: pointer">
              {{index + 1}}
          </span>
      </ng-template>
  </p-galleria>
</div>
 -->
