<body>

    <div>
        <div>
            <div class="container ">
                <div class="row1">
                    <div class="innerRow1">
                        <h5>SITE-MAP</h5>
                    </div>
                    <div>
                        <h5>HOME / SITE-MAP </h5>
                    </div>
                </div>
            </div>
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 ">
                            <h5 class="head1">Home Demos</h5>
                            <ul>
                                <li>
                                    <a routerLink="" class="head2">
                                        <span>></span>
                                        New Demos
                                    </a>
                                    <ul>
                                        <li><a routerLink="">Tools</a></li>
                                        <li><a routerLink="">chrishmas</a></li>
                                        <li><a routerLink="">Marketplace</a></li>
                                        <li><a routerLink="">Game</a></li>
                                        <li><a routerLink="">Gym</a></li>
                                        <li><a routerLink="">Marijuana</a></li>
                                        <li><a routerLink="">Left Sidebar</a></li>
                                        <li><a routerLink="">Jewellry</a></li>
                                        <li><a routerLink="">Pets</a></li>
                                        <li><a routerLink="">Metro</a></li>
                                        <li><a routerLink="">Video Slider</a></li>
                                        <li><a routerLink="">Nursery</a></li>

                                    </ul>
                                </li>
                                <li>
                                    <a routerLink="" class="head2">
                                        <span>></span>
                                        Clothing
                                    </a>
                                    <ul>
                                        <li><a routerLink="">Fashion 1</a></li>
                                        <li><a routerLink="">Fashion 1</a></li>
                                        <li><a routerLink="">Fashion 1</a></li>
                                        <li><a routerLink="">Kids</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a routerLink="" class="head2">
                                        <span>></span>
                                        Basics
                                    </a>
                                    <ul>
                                        <li><a routerLink="">Lookbook</a></li>
                                        <li><a routerLink="">Instagram</a></li>
                                        <li><a routerLink="">Video</a></li>
                                        <li><a routerLink="">Parallax</a></li>
                                        <li><a routerLink="">Full Page</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a routerLink="" class="head2">
                                        <span>></span>
                                        Beauty
                                    </a>
                                </li>
                                <li>
                                    <a routerLink="" class="head2">
                                        <span>></span>
                                        Electronics
                                    </a>
                                    <ul>
                                        <li><a routerLink="">Electronic 1</a></li>
                                        <li><a routerLink="">Electronic 2</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a routerLink="" class="head2">
                                        <span>></span>
                                        Furniture
                                    </a>
                                </li>
                                <li>
                                    <a routerLink="" class="head2">
                                        <span>></span>
                                        Vegetable
                                    </a>
                                </li>
                                <li>
                                    <a routerLink="" class="head2">
                                        <span>></span>
                                        Watch
                                    </a>
                                </li>
                                <li>
                                    <a routerLink="" class="head2">
                                        <span>></span>
                                        Light
                                    </a>
                                </li>
                                <li>
                                    <a routerLink="" class="head2">
                                        <span>></span>
                                        Goggles
                                    </a>
                                </li>
                                <li>
                                    <a routerLink="" class="head2">
                                        <span>></span>
                                        Shoes
                                    </a>
                                </li>
                                <li>
                                    <a routerLink="" class="head2">
                                        <span>></span>
                                        Bags
                                    </a>
                                </li>
                                <li>
                                    <a routerLink="" class="head2">
                                        <span>></span>
                                        Flowers
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-3">
                            <h5 class="head1">
                                Shop Pages
                            </h5>
                            <ul>
                                <li>
                                    <a routerLink="" class="head2">
                                        <span>></span>
                                        Left Sidebar
                                    </a>
                                </li>
                                <li>
                                    <a routerLink="" class="head2">
                                        <span>></span>
                                        Right Sidebar

                                    </a>
                                </li>
                                <li>
                                    <a routerLink="" class="head2">
                                        <span>></span>
                                        No Sidebar
                                    </a>
                                </li>
                                <li>
                                    <a routerLink="" class="head2">
                                        <span>></span>
                                        Sidebar Popup
                                    </a>
                                </li>
                                <li>
                                    <a routerLink="" class="head2">
                                        <span>></span>
                                        Metro
                                    </a>
                                </li>
                                <li>
                                    <a routerLink="" class="head2">
                                        <span>></span>
                                        Full Width
                                    </a>
                                </li>
                                <li>
                                    <a routerLink="" class="head2">
                                        <span>></span>
                                        3 Grid
                                    </a>
                                </li>
                                <li>
                                    <a routerLink="" class="head2">
                                        <span>></span>
                                        6 Gird
                                    </a>
                                </li>
                                <li>
                                    <a routerLink="" class="head2">
                                        <span>></span>
                                        List View
                                    </a>
                                </li>
                            </ul>

                            <h5 class="head1">
                                Product Pages
                            </h5>
                            <ul>
                                <li>
                                    <a routerLink="" class="head2">
                                        <span>></span>
                                        Sidebar
                                    </a>
                                    <ul>
                                        <li><a routerLink="">Left Sidebar</a></li>
                                        <li><a routerLink="">Right sidebar</a></li>
                                        <li><a routerLink="">No Sidebar</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a routerLink="" class="head2">
                                        <span>></span>
                                        Thumbnail Image
                                    </a>
                                    <ul>
                                        <li><a routerLink="">Left Image</a></li>
                                        <li><a routerLink="">Right Image</a></li>
                                        <li><a routerLink="">Image Outside</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a routerLink="" class="head2">
                                        <span>></span>
                                        3-Column
                                    </a>
                                    <ul>
                                        <li><a routerLink="">Thumbnail Left</a></li>
                                        <li><a routerLink="">Thumbnail Right</a></li>
                                        <li><a routerLink="">Thumbnail Bottom</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a routerLink="" class="head2">
                                        <span>></span>
                                        Four Image
                                    </a>
                                </li>
                                <li>
                                    <a routerLink="" class="head2">
                                        <span>></span>
                                        Bundle <span class="new">New</span>
                                    </a>
                                </li>
                                <li>
                                    <a routerLink="" class="head2">
                                        <span>></span>
                                        Sticky
                                    </a>
                                </li>
                                <li>
                                    <a routerLink="" class="head2">
                                        <span>></span>
                                        Accordian
                                    </a>
                                </li>
                                <li>
                                    <a routerLink="" class="head2">
                                        <span>></span>
                                        Image Swatch
                                    </a>
                                </li>
                                <li>
                                    <a routerLink="" class="head2">
                                        <span>></span>
                                        Vertical Tab
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-3">
                            <h5 class="head1">Features</h5>
                            <ul>
                                <li>
                                    <a routerLink="" class="head2">
                                        <span>></span>
                                        Portfolio
                                    </a>
                                    <ul>
                                        <li><a routerLink="">Portfolio Grid 2</a></li>
                                        <li><a routerLink="">Portfolio Grid 3</a></li>
                                        <li><a routerLink="">Portfolio Grid 4</a></li>
                                        <li><a routerLink="">Masonry Grid 2</a></li>
                                        <li><a routerLink="">Masonry Grid 3</a></li>
                                        <li><a routerLink="">Masonry Grid 4</a></li>
                                        <li><a routerLink="">Masonry Full Width</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a routerLink="" class="head2">
                                        <span>></span>
                                        Add To Cart
                                    </a>
                                    <ul>
                                        <li><a routerLink="">Cart Modal Popup</a></li>
                                        <li><a routerLink="">Qty. Counter</a></li>
                                        <li><a routerLink="">Cart Top</a></li>
                                        <li><a routerLink="">Cart Bottom</a></li>
                                        <li><a routerLink="">Cart Left</a></li>
                                        <li><a routerLink="">Cart Right</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a routerLink="" class="head2">
                                        <span>></span>
                                        Elements
                                    </a>
                                    <ul>
                                        <li><a routerLink="">Title</a></li>
                                        <li><a routerLink="">Collection Banner</a></li>
                                        <li><a routerLink="">Home Slider</a></li>
                                        <li><a routerLink="">Category</a></li>
                                        <li><a routerLink="">Service</a></li>
                                        <li><a routerLink="">Product Box</a></li>
                                        <li><a routerLink="">Product Slider</a></li>
                                        <li><a routerLink="">No Slider</a></li>
                                        <li><a routerLink="">Multi Slider</a></li>
                                        <li><a routerLink="">Tab</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a routerLink="" class="head2">
                                        <span>></span>
                                        Email Template
                                    </a>
                                    <ul>
                                        <li><a routerLink="">Order Success</a></li>
                                        <li><a routerLink="">Order Success 2</a></li>
                                        <li><a routerLink="">Email Template</a></li>
                                        <li><a routerLink="">Email Template 2</a></li>
                                    </ul>
                                </li>
                            </ul>

                            <h5 class="head1">Blog Pages</h5>
                            <ul>
                                <li>
                                    <a routerLink="" class="head2">
                                        <span>></span>
                                        Left Sidebar
                                    </a>
                                </li>
                                <li>
                                    <a routerLink="" class="head2">
                                        <span>></span>
                                        Right Sidebar
                                    </a>
                                </li>
                                <li>
                                    <a routerLink="" class="head2">
                                        <span>></span>
                                        No Sidebar
                                    </a>
                                </li>
                                <li>
                                    <a routerLink="" class="head2">
                                        <span>></span>
                                        Blog Details
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="col-md-3">
                            <h5 class="head1">Inner Pages</h5>
                            <ul>
                                <li>
                                    <a routerLink="" class="head2">
                                        <span>></span>
                                        Vender
                                    </a>
                                    <ul>
                                        <li><a routerLink="">Vendor Dashboard</a></li>
                                        <li><a routerLink="">Vendor Profile</a></li>
                                        <li><a routerLink="">Become Vendor</a></li>
                                    </ul>
                                </li>
                                <li> <a routerLink="" class="head2">
                                        <span>></span>
                                        Account
                                    </a>
                                    <ul>
                                        <li><a routerLink="">Wishlist</a></li>
                                        <li><a routerLink="">Cart</a></li>
                                        <li><a routerLink="">Dashboard</a></li>
                                        <li><a routerLink="">Login</a></li>
                                        <li><a routerLink="">Register</a></li>
                                        <li><a routerLink="">Contact</a></li>
                                        <li><a routerLink="">Forget Password</a></li>
                                        <li><a routerLink="">Profile</a></li>
                                        <li><a routerLink="">Checkout</a></li>
                                    </ul>
                                </li>
                                <li> <a routerLink="" class="head2">
                                        <span>></span>
                                        About Us
                                    </a>
                                </li>
                                <li> <a routerLink="" class="head2">
                                        <span>></span>
                                        Search
                                    </a>
                                </li>
                                <li> <a routerLink="" class="head2">
                                        <span>></span>
                                        Typography
                                    </a>
                                </li>
                                <li> <a routerLink="" class="head2">
                                        <span>></span>
                                        Review
                                    </a>
                                </li>
                                <li> <a routerLink="" class="head2">
                                        <span>></span>
                                        Order Success
                                    </a>
                                </li>
                                <li> <a routerLink="" class="head2">
                                        <span>></span>
                                        Compare
                                    </a>
                                    <ul>
                                        <li><a routerLink="">Compare</a></li>
                                        <li><a routerLink="">Compare-2</a></li>
                                    </ul>
                                </li>
                                <li> <a routerLink="" class="head2">
                                        <span>></span>
                                        Collection
                                    </a>
                                </li>
                                <li> <a routerLink="" class="head2">
                                        <span>></span>
                                        Lookbook
                                    </a>
                                </li>
                                <li> <a routerLink="" class="head2">
                                        <span>></span>
                                        Site Map
                                    </a>
                                </li>
                                <li> <a routerLink="" class="head2">
                                        <span>></span>
                                        404
                                    </a>
                                </li>
                                <li> <a routerLink="" class="head2">
                                        <span>></span>
                                        Coming Soon
                                    </a>
                                </li>
                                <li> <a routerLink="" class="head2">
                                        <span>></span>
                                        FAQ
                                    </a>
                                </li>
                            </ul>
                        </div>


                    </div>
                </div>
            </section>
        </div>

    </div>
</body>