.container{
    padding: 50px;
}
.row1{
    display: flex;
    justify-content: space-between;
}
.innerRow1{
    width: 50%;

}
a{
    text-decoration:none;
    font-weight: 400;
    color: #333;
    font-size: 14px;  
}
ul{
    list-style: none;
}

.head1{
    color: red;
    font-size: larger;
}
a.head2{
    color: black;
    font-size: 18px;
}
   
span{
    font-size:12px ;
}

span.new{
    color: red;
    font-weight: 400;
    font-size: 20px;
}