<body>
    
    <div>
        <div>
            <div></div>
            <div></div>
            <section>
                <div class="container">
                  <div class="row">
                    <div class="col-md-3 ">
                        <h5 class="head1">Home Demos</h5>
                        <ul>
                            <li >
                                <a routerLink="" class="head2">
                                    <i class="pi-chevron-right" ></i>
                                    New Demos
                                </a>
                                <ul >
                                    <li><a routerLink="">Tools</a></li>
                                    <li><a routerLink="">chrishmas</a></li>
                                    <li><a routerLink="">Marketplace</a></li>
                                    <li><a routerLink="">Game</a></li>
                                    <li><a routerLink="">Gym</a></li>
                                    <li><a routerLink="">Marijuana</a></li>
                                    <li><a routerLink="">Left Sidebar</a></li>
                                    <li><a routerLink="">Jewellry</a></li>
                                    <li><a routerLink="">Pets</a></li>
                                    <li><a routerLink="">Metro</a></li>
                                    <li><a routerLink="">Video Slider</a></li>
                                    <li><a routerLink="">Nursery</a></li>
    
                                </ul>
                            </li>
                            <li>
                                <a routerLink="" class="head2">
                                    <i class="pi-chevron-right" ></i>
                                    Clothing
                                </a>
                                <ul>
                                    <li><a routerLink="">Fashion 1</a></li>
                                    <li><a routerLink="">Fashion 1</a></li>
                                    <li><a routerLink="">Fashion 1</a></li>
                                    <li><a routerLink="">Kids</a></li>
                                </ul>
                            </li>
                            <li>
                                <a routerLink="" class="head2">
                                    <i class="pi-chevron-right" ></i>
                                    Basics
                                </a>
                                <ul>
                                    <li><a routerLink="">Lookbook</a></li>
                                    <li><a routerLink="">Instagram</a></li>
                                    <li><a routerLink="">Video</a></li>
                                    <li><a routerLink="">Parallax</a></li>
                                    <li><a routerLink="">Full Page</a></li>
                                </ul>
                            </li>
                            <li>
                                <a routerLink="" class="head2">
                                    <i class="pi-chevron-right" ></i>
                                    Beauty
                                </a>
                            </li>
                            <li>
                                <a routerLink="" class="head2">
                                    <i class="pi-chevron-right" ></i>
                                    Electronics
                                </a>
                                <ul>
                                    <li><a routerLink="">Electronic 1</a></li>
                                    <li><a routerLink="">Electronic 2</a></li>
                                </ul>
                            </li>
                            <li>
                                <a routerLink="" class="head2">
                                    <i class="pi-chevron-right" ></i>
                                    Furniture
                                </a>
                            </li>
                            <li>
                                <a routerLink="" class="head2">
                                    <i class="pi-chevron-right" ></i>
                                    Vegetable
                                </a>
                            </li>
                            <li>
                                <a routerLink="" class="head2">
                                    <i class="pi-chevron-right" ></i>
                                    Watch
                                </a>
                            </li>
                            <li>
                                <a routerLink="" class="head2">
                                    <i class="pi-chevron-right" ></i>
                                    Light
                                </a>
                            </li>
                            <li>
                                <a routerLink="" class="head2">
                                    <i class="pi-chevron-right" ></i>
                                    Goggles
                                </a>
                            </li>
                            <li>
                                <a routerLink="" class="head2">
                                    <i class="pi-chevron-right" ></i>
                                    Shoes
                                </a>
                            </li>
                            <li>
                                <a routerLink="" class="head2">
                                    <i class="pi-chevron-right" ></i>
                                    Bags
                                </a>
                            </li>
                            <li>
                                <a routerLink="" class="head2">
                                    <i class="pi-chevron-right" ></i>
                                    Flowers
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h5 class="head1">
                            Shop Pages
                        </h5>
                        <ul>
                            <li>
                                <a routerLink="" class="head2">
                                    <i class="pi-chevron-right" ></i>
                                    Left Sidebar
                                </a>
                            </li>
                            <li>
                                <a routerLink="" class="head2">
                                    <i class="pi-chevron-right" ></i>
                                    Right Sidebar
    
                                </a>
                            </li>
                            <li>
                                <a routerLink="" class="head2">
                                    <i class="pi-chevron-right" ></i>
                                    No Sidebar
                                </a>
                            </li>
                            <li>
                                <a routerLink="" class="head2">
                                    <i class="pi-chevron-right" ></i>
                                    Sidebar Popup
                                </a>
                            </li>
                            <li>
                                <a routerLink="" class="head2">
                                    <i class="pi-chevron-right" ></i>
                                    Metro
                                </a>
                            </li>
                            <li>
                                <a routerLink="" class="head2">
                                    <i class="pi-chevron-right" ></i>
                                    Full Width
                                </a>
                            </li>
                            <li>
                                <a routerLink="" class="head2">
                                    <i class="pi-chevron-right" ></i>
                                    3 Grid
                                </a>
                            </li>
                            <li>
                                <a routerLink="" class="head2">
                                    <i class="pi-chevron-right" ></i>
                                    6 Gird
                                </a>
                            </li>
                            <li>
                                <a routerLink="" class="head2">
                                    <i class="pi-chevron-right" ></i>
                                     List View   
                                </a>
                            </li>
                        </ul>
    
                        <h5 class="head1">
                            Product Pages
                        </h5>
                        <ul>
                            <li>
                                <a routerLink="" class="head2">
                                    <i class="pi-chevron-right" ></i>
                                     Sidebar 
                                </a>
                                <ul>
                                    <li><a routerLink="">Left Sidebar</a></li>
                                    <li><a routerLink="">Right sidebar</a></li>
                                    <li><a routerLink="">No Sidebar</a></li>
                                </ul>
                            </li>
                            <li>
                                <a routerLink="" class="head2">
                                    <i class="pi-chevron-right" ></i>
                                     Thumbnail Image 
                                </a>
                                <ul>
                                    <li><a routerLink="">Left Sidebar</a></li>
                                    <li><a routerLink="">Right sidebar</a></li>
                                    <li><a routerLink="">No Sidebar</a></li>
                                </ul>
                            </li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                    </div>         
                    <div class="col-md-3"></div>         
                    <div class="col-md-3"></div>         
    
                    
                  </div>
                </div>
            </section>
        </div>
        
    </div>
    </body>

