<nav class="navbar navbar-expand-md navbar-white bg-white">
    <div class="container-fluid">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <ul class="navbar-nav me-auto">
                <li class="nav-item active">
                    <a class="nav-link fw-bold" href="#">welcome to Our store Multikart</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fw-bold" href="//codeply.com">Call Us: 123 - 456 - 7890</a>
                </li>
            </ul>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link fw-bold" href="#"><i class="fa fa-heart" aria-hidden="true"></i><span>
                        </span>wishlist</a>
                </li>
                <li class="nav-item dropdown">
                    <!-- <a class="nav-link fw-bold" href="#"><i class="fa fa-user" aria-hidden="true"></i><span>   </span>myAccount</a> -->
                    <a class="nav-link fw-bold" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <i class="fa fa-user" aria-hidden="true"></i><span> </span>myAccount
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" routerLink="pages/login">Login </a></li>
                        <li><a class="dropdown-item" routerLink="pages/register">Register </a></li>
                        <li><a class="dropdown-item" (click)="logout()">Logout </a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <Img src="assets/Images/logo1.png" alt="multikart">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav w-100 order-3 ms-auto">
            <li class="nav-item active dropdown ms-5">
                <a class="nav-link dropdown-toggle fw-bold" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false" routerLink="home">
                    HOME
                </a>
                <!-- <li class="nav-item active"><a class="nav-link" routerLink="">Home</a></li> -->
                <ul class="dropdown-menu nav-item active" aria-labelledby="navbarDropdown">
                    <li class="nav-item active"><a class="dropdown-item nav-link">New Demos &raquo </a>
                        <ul class="dropdown-menu dropdown-submenu nav-item active">
                            <li class="nav-item active">
                                <button class="dropdown-item nav-link" (click)="Ontools()">Tools</button>
                            </li>
                            <li class="nav-item active">
                                <button class="dropdown-item nav-link" (click)="Onchristmas()">Christmas</button>
                            </li>
                            <li class="nav-item active">
                                <button class="dropdown-item" (click)="Onmarketplace()">marketplace</button>
                            </li>
                            <li>
                                <button class="dropdown-item" (click)="Ongame()">Game</button>
                            </li>
                            <li>
                                <button class="dropdown-item" (click)="Ongym()">Gym</button>
                            </li>
                            <li>
                                <button class="dropdown-item" (click)="OnMarjuana()">Marjuana</button>
                            </li>
                            <li>
                                <button class="dropdown-item" (click)="Onleftsidebar()">Left-sidebar</button>
                            </li>
                            <li>
                                <button class="dropdown-item" (click)="Onjwellery()">Jwellery</button>
                            </li>
                            <li>
                                <button class="dropdown-item" (click)="Onpets()">Pets</button>
                            </li>
                            <li>
                                <button class="dropdown-item" (click)="OnMetros()">Metros</button>
                            </li>
                            <li>
                                <button class="dropdown-item" (click)="Onvideoslider()">Video Slider</button>
                            </li>
                            <li>
                                <button class="dropdown-item" (click)="OnNursery()">Nursery</button>
                            </li>
                        </ul>
                    </li>
                    <li><a class="dropdown-item" href="#">Clothing &raquo </a>
                        <ul class="dropdown-menu dropdown-submenu">
                            <li>
                                <button class="dropdown-item" (click)="Onfashion1()">Fashion 1</button>
                            </li>
                            <li>
                                <button class="dropdown-item" (click)="Onfashion2()">Fashion 2</button>
                            </li>
                            <li>
                                <button class="dropdown-item" (click)="Onfashion3()">Fashion 3</button>
                            </li>
                            <li>
                                <button class="dropdown-item" (click)="Onkids()">kids</button>
                            </li>
                        </ul>
                    </li>

                    <li><a class="dropdown-item" href="#">Basics</a>
                        <ul class="dropdown-menu dropdown-submenu">
                            <li>
                                <button class="dropdown-item" (click)="Onlookbook()">lookbook</button>
                            </li>
                            <li>
                                <button class="dropdown-item" (click)="OnInstagram()">Instagram</button>
                            </li>
                            <li>
                                <button class="dropdown-item" (click)="OnVideo()">Video</button>
                            </li>
                            <li>
                                <button class="dropdown-item" (click)="Onparallax()">parallax</button>
                            </li>
                            <li>
                                <button class="dropdown-item" (click)="OnFullpage()">Full page</button>
                            </li>
                        </ul>
                    </li>
                    <li><button class="dropdown-item" href="#" routerLink="home/beauty">Beauty</button></li>
                    <li><a class="dropdown-item" href="#">Electronic &raquo</a>
                        <ul class="dropdown-menu dropdown-submenu">
                            <li>
                                <button class="dropdown-item" (click)="Electronic1()">Electronic 1</button>
                            </li>
                            <li>
                                <button class="dropdown-item" (click)="Electronic2()">Electronic 2</button>
                            </li>
                        </ul>
                    </li>
                    <li><button class="dropdown-item" routerLink="home/furniture">Furniture</button></li>
                    <li><button class="dropdown-item" routerLink="home/vegetables">Vegetables</button></li>
                    <li><button class="dropdown-item" routerLink="home/watch">Watch</button></li>
                    <li><button class="dropdown-item" routerLink="home/light">Light</button></li>
                    <li><button class="dropdown-item" routerLink="home/googles">Goggles</button></li>
                    <li><button class="dropdown-item" routerLink="home/shoes">Shoes</button></li>
                    <li><button class="dropdown-item" routerLink="home/bags">Bags</button></li>
                    <li><button class="dropdown-item" routerLink="home/Flowers">Flowers</button></li>
                </ul>
            </li>
            <li class="nav-item dropdown ms-5">
                <a class="nav-link dropdown-toggle fw-bold" href="#" id="navbarDropdown" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false" routerLink="shop">
                    SHOP
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><button class="dropdown-item" routerLink="shop">left sidebar</button></li>
                    <li><button class="dropdown-item" routerLink="shop/right">Right Sidebar</button></li>
                    <li><button class="dropdown-item" routerLink="shop/no">No Sidebar</button></li>
                    <li><button class="dropdown-item" routerLink="shop/sidebar">Sidebar Popup</button></li>
                    <li><button class="dropdown-item" routerLink="shop/metro">Metro New</button></li>
                    <li><button class="dropdown-item" routerLink="shop/full">Full width New</button></li>
                    <li><button class="dropdown-item" routerLink="shop/gridthree">3 grid</button></li>
                    <li><button class="dropdown-item" routerLink="shop/gridsix">6 grid</button></li>
                    <li><button class="dropdown-item" routerLink="shop/last">List View</button></li>
                </ul>
            </li>
            <li class="nav-item dropdown ms-5">
                <a class="nav-link dropdown-toggle fw-bold" href="#" id="navbarDropdown" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false" routerLink="product">
                    PRODUCTS
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#">sidebar &raquo</a>
                        <ul class="dropdown-menu dropdown-submenu">
                            <li>
                                <button class="dropdown-item" routerLink="product">Left sidebar</button>
                            </li>
                            <li>
                                <button class="dropdown-item" routerLink="product/right">Right sidebar</button>
                            </li>
                            <li>
                                <button class="dropdown-item" routerLink="product/no">No sidebar</button>
                            </li>
                        </ul>
                    </li>
                    <li><a class="dropdown-item" href="#">THumbnail Image &raquo</a>
                        <ul class="dropdown-menu dropdown-submenu">
                            <li>
                                <button class="dropdown-item" routerLink="product/left1">Left Image</button>
                            </li>
                            <li>
                                <button class="dropdown-item" routerLink="product/right1">Right Image</button>
                            </li>
                            <li>
                                <button class="dropdown-item" routerLink="product/image">Image Outside</button>
                            </li>
                        </ul>
                    </li>
                    <li><a class="dropdown-item" href="#">3-Column &raquo</a>
                        <ul class="dropdown-menu dropdown-submenu">
                            <li>
                                <button class="dropdown-item" routerLink="product/left2">Thumbnail Left</button>
                            </li>
                            <li>
                                <button class="dropdown-item" routerLink="product/right2">Thumbnail Right</button>
                            </li>
                            <li>
                                <button class="dropdown-item" routerLink="product/bottom">Thumbnail Bottom</button>
                            </li>
                        </ul>
                    </li>
                    <li><button class="dropdown-item" routerLink="product/image2">4 Image</button></li>
                    <li><button class="dropdown-item" routerLink="product/bundle">Bundle Product</button></li>
                    <li><button class="dropdown-item" routerLink="product/sticky">Sticky</button></li>
                    <li><button class="dropdown-item" routerLink="product/accordian">Accordian</button></li>
                    <li><button class="dropdown-item" routerLink="product/image">Image Swatch</button></li>
                    <li><button class="dropdown-item" routerLink="product/vertical">Vertical Tab</button></li>
                </ul>
            </li>
            <li class="nav-item dropdown ms-5">
                <a class="nav-link dropdown-toggle fw-bold" href="#" id="navbarDropdown" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false" routerLink="features">
                    FEATURES
                </a>
                <ul class="dropdown-menu dropdown-menu-center" aria-labelledby="navbarDropdown">
                    <div class="container-fluid p-4 d-flex justify-content-lg-evenly">
                        <!--Grid row-->
                        <div class="row d-flex justify-content-lg-evenly align-content-center">
                            <!--Grid column-->
                            <div class="col">
                                <h5 class="dropdown-item fw-bold">Portfolio</h5>

                                <ul class="list-unstyled mb-0">
                                    <li>
                                        <button class="dropdown-item" routerLink="features">Portfolio 2</button>
                                    </li>
                                    <li>
                                        <button class="dropdown-item" routerLink="features/portfolio3">Portfolio
                                            3</button>
                                    </li>
                                    <li>
                                        <button class="dropdown-item" routerLink="features/portfolio4">Portfolio
                                            4</button>
                                    </li>
                                    <li>
                                        <button class="dropdown-item" routerLink="features/masonary2">Masonary grid
                                            2</button>
                                    </li>
                                    <li>
                                        <button class="dropdown-item" routerLink="features/masonary3">Masonary grid
                                            3</button>
                                    </li>
                                    <li>
                                        <button class="dropdown-item" routerLink="features/masonary4">Masonary grid
                                            4</button>
                                    </li>
                                    <li>
                                        <button class="dropdown-item" routerLink="features/fullwidth">Masonary Full
                                            width</button>
                                    </li>
                                </ul>
                            </div>
                            <!--Grid column-->

                            <!--Grid column-->
                            <div class="col">
                                <h5 class="dropdown-item fw-bold">Add To Cart</h5>

                                <ul class="list-unstyled mb-0">
                                    <li>
                                        <button class="dropdown-item" routerLink="features/cartmodal">Cart Modal
                                            Popup</button>
                                    </li>
                                    <li>
                                        <button class="dropdown-item" routerLink="features/qtyc">Qty Quanter</button>
                                    </li>
                                    <li>
                                        <button class="dropdown-item" routerLink="features/carttop">Cart top</button>
                                    </li>
                                    <li>
                                        <button class="dropdown-item" routerLink="features/cartbottom">Cart
                                            Bottom</button>
                                    </li>
                                    <li>
                                        <button class="dropdown-item" routerLink="features/cartleft">Cart Left</button>
                                    </li>
                                    <li>
                                        <button class="dropdown-item" routerLink="features/cartright">Cart
                                            Right</button>
                                    </li>
                                </ul>
                            </div>
                            <!--Grid column-->

                            <!--Grid column-->
                            <div class="col">
                                <h5 class="dropdown-item fw-bold">Theme Element</h5>

                                <ul class="list-unstyled mb-0">
                                    <li>
                                        <button class="dropdown-item" routerLink="features/tittle">Tittle</button>
                                    </li>
                                    <li>
                                        <button class="dropdown-item" routerLink="features/collection">Collection
                                            Banner</button>
                                    </li>
                                    <li>
                                        <button class="dropdown-item" routerLink="features/home2">Home Slider</button>
                                    </li>
                                    <li>
                                        <button class="dropdown-item" routerLink="features/category">Category</button>
                                    </li>
                                    <li>
                                        <button class="dropdown-item" routerLink="features/service">Service</button>
                                    </li>
                                </ul>
                            </div>
                            <!--Grid column-->

                            <!--Grid column-->
                            <div class="col">
                                <h5 class="dropdown-item fw-bold">Product Element</h5>

                                <ul class="list-unstyled mb-0">
                                    <li>
                                        <button class="dropdown-item" routerLink="features/box">Product Box</button>
                                    </li>
                                    <li>
                                        <button class="dropdown-item" routerLink="features/slider">Product
                                            Slider</button>
                                    </li>
                                    <li>
                                        <button class="dropdown-item" routerLink="features/nos">No Slider</button>
                                    </li>
                                    <li>
                                        <button class="dropdown-item" routerLink="features/multi">Multi Slider</button>
                                    </li>
                                    <li>
                                        <button class="dropdown-item" routerLink="features/tab">Tab</button>
                                    </li>
                                </ul>
                            </div>
                            <!--Grid column-->

                            <div class="col">
                                <h5 class="dropdown-item fw-bold">Email Template</h5>

                                <ul class="list-unstyled mb-0">
                                    <li>
                                        <button class="dropdown-item" routerLink="features/orders">Order
                                            Success</button>
                                    </li>
                                    <li>
                                        <button class="dropdown-item" routerLink="features/orders2">Order Success
                                            2</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Grid container -->
                    <!-- </footer> -->
                    <!-- Footer -->
                </ul>
            </li>
            <li class="nav-item dropdown ms-5">
                <a class="nav-link dropdown-toggle fw-bold" href="#" id="navbarDropdown" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false" routerLink="pages">
                    PAGES
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#">Vendor New &raquo</a>
                        <ul class="dropdown-menu dropdown-submenu">
                            <li>
                                <button class="dropdown-item" routerLink="pages">Vendor dashboard</button>
                            </li>
                            <li>
                                <button class="dropdown-item" routerLink="pages/profilev">Vendor profile</button>
                            </li>
                            <li>
                                <button class="dropdown-item" routerLink="pages/became">Become Vendor</button>
                            </li>
                        </ul>
                    </li>
                    <li><a class="dropdown-item" href="#">Account &raquo</a>
                        <ul class="dropdown-menu dropdown-submenu">
                            <li>
                                <button class="dropdown-item" routerLink="pages/wishlist">wishlist</button>
                            </li>
                            <li>
                                <button class="dropdown-item" routerLink="pages/cart">cart</button>
                            </li>
                            <li>
                                <button class="dropdown-item" routerLink="pages/dashboard2">Dashboard</button>
                            </li>
                            <li>
                                <button class="dropdown-item" routerLink="pages/login">Login</button>
                            </li>
                            <li>
                                <button class="dropdown-item" routerLink="pages/loginauth">Login Auth</button>
                            </li>
                            <li>
                                <button class="dropdown-item" routerLink="pages/register">Register</button>
                            </li>
                            <li>
                                <button class="dropdown-item" routerLink="pages/contact">Contact</button>
                            </li>
                            <li>
                                <button class="dropdown-item" routerLink="pages/forgetpass">FOrget Password</button>
                            </li>
                            <li>
                                <button class="dropdown-item" routerLink="pages/profile3">Profile</button>
                            </li>
                            <li>
                                <button class="dropdown-item" routerLink="pages/checkout">Checkout</button>
                            </li>
                        </ul>
                    </li>
                    <li><button class="dropdown-item" routerLink="pages/aboutus">About Us</button></li>
                    <li><button class="dropdown-item" routerLink="pages/search">Search</button></li>
                    <li><button class="dropdown-item" routerLink="pages/typographyn">typography New</button></li>
                    <li><button class="dropdown-item" routerLink="pages/review">Review</button></li>
                    <li><button class="dropdown-item" routerLink="pages/sucess1">order-success</button></li>
                    <li><button class="dropdown-item">compare &raquo</button>
                        <ul class="dropdown-menu dropdown-submenu">
                            <li>
                                <button class="dropdown-item" routerLink="pages/compare1">compare</button>
                            </li>
                            <li>
                                <button class="dropdown-item" routerLink="pages/compare2">compare 2 new</button>
                            </li>
                        </ul>
                    </li>
                    <li><button class="dropdown-item" routerLink="pages/collection">collection</button></li>
                    <li><button class="dropdown-item" routerLink="pages/lookbook1">Look book</button></li>
                    <li><button class="dropdown-item" routerLink="pages/sitemap">Site map</button></li>
                    <li><button class="dropdown-item" routerLink="pages/404">404</button></li>
                    <li><button class="dropdown-item" routerLink="pages/comingsoon">Coming soon</button></li>
                    <li><button class="dropdown-item" routerLink="pages/faq">Fag</button></li>
                </ul>
            </li>
            <li class="nav-item dropdown ms-5">
                <a class="nav-link dropdown-toggle fw-bold" href="#" id="navbarDropdown" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false" routerlink="blogs">
                    BLOGS
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><button class="dropdown-item" routerLink="blogs">Blog left Sidebar</button></li>
                    <li><button class="dropdown-item" routerLink="blogs/right">Blog RIght Sidebar</button></li>
                    <li><button class="dropdown-item" routerLink="blogs/no">No Sidebar</button></li>
                    <li><button class="dropdown-item" routerLink="blogs/detail">Blog detail</button></li>
                </ul>
            </li>
        </ul>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link fw-bold me-2" href="#"><i class="fa fa-search fa-lg"
                            aria-hidden="true"></i><span> </span></a>
                </li>
                <li class="nav-item dropdown">
                    <!-- <a class="nav-link fw-bold" href="#"><i class="fa fa-user" aria-hidden="true"></i><span>   </span>myAccount</a> -->
                    <a class="nav-link fw-bold me-2" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-cog fa-lg " aria-hidden="true"></i><span> </span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Language </a></li>
                        <li><a class="dropdown-item" href="#">English</a></li>
                        <li><a class="dropdown-item" href="#">French</a></li>
                        <li><a class="dropdown-item" href="#">Currency</a></li>
                        <li><a class="dropdown-item" href="#">$USD</a></li>
                        <li><a class="dropdown-item" href="#">IND</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link fw-bold me-5 position-relative" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-shopping-cart fa-lg fa-lg" routerLink="pages/cart" aria-hidden="true"></i>
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                            {{totalItem}}
                            <span class="visually-hidden">unread messages</span>
                        </span>
                    </a>

                </li>
            </ul>
        </div>
    </div>
</nav>