
<!-- nav element -->
<div class="bgcolor">
    <nav class="flexnav">
        <div>
            Elements
        </div>
        <div >
            <ul type="none" class="listflex">
                <li class="listcur"><a href="#">home</a><span class="listspan">/</span></li>
                <li>elements<span class="listspan">/</span></li>
                <li>title</li>
            </ul>
        </div>
    </nav>
</div>

<!-- carousel -->

<div id="carouselExampleControls" class="carousel slide container mt-5 mb-5" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://multikart-react-reactpixelstrap.vercel.app/assets/images/home-banner/7.jpg" class="d-block w-100">
        <div class="banner-text">
            <h4 class="texth4">welcome to fashion</h4>
            <h1 class="texth1">women fashion</h1>
            <button  class="btn-banner">SHOP NOW</button>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://multikart-react-reactpixelstrap.vercel.app/assets/images/home-banner/8.jpg" class="d-block w-100">
        <div class="banner-text">
            <h4 class="texth4">welcome to fashion </h4>
            <h1 class="texth1">new fashion</h1>
            <button  class="btn-banner">SHOP NOW</button>
        </div>
      </div>
      
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>