<div class="bgimg">
    <!-- navbar -->
    <div class="bg-white">

      
<!-- carousel -->
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src=".\assets\Images\cartmodalpopup\33.jpg" class="d-block w-100" alt="...">
                <div class="banner-text">
                    <h4 class="texth4">save up to 10%</h4>
                    <h1 class="texth1">plant collection</h1>
                    <button  class="btn-banner">SHOP NOW</button>
                </div>
              </div>
              <div class="carousel-item">
                <img src=".\assets\Images\cartmodalpopup\32.jpg" class="d-block w-100" alt="...">
             
              <div class="banner-text1">
                <h4 class="texth4">save up to 20%</h4>
                <h1 class="texth1">new collection</h1>
                <button class="btn-banner">SHOP NOW</button>
              </div>
            </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>

        <!-- title trending product -->
        <div class="title1">
            <h4>trending product</h4>
        </div>

        <!-- cards -->
        <div id="carouselExampleControls" class="carousel slide " data-bs-ride="carousel">
            <div class="carousel-inner ">
              <div class="carousel-item active">
                <div class="container card1">
                    <div class="ms-5 card" style="width: 18rem;">
                        <img src=".\assets\Images\cartmodalpopup\1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <p class="card-text">pam tree</p>
                        </div>
                      </div>
                      <div class="card" style="width: 18rem;">
                        <img src=".\assets\Images\cartmodalpopup\2.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <p class="card-text">pam tree</p>
                        </div>
                      </div>
                      <div class="card" style="width: 18rem;">
                        <img src=".\assets\Images\cartmodalpopup\3.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <p class="card-text">pam tree</p>
                        </div>
                      </div>
                      <div class="card" style="width: 18rem;">
                        <img src=".\assets\Images\cartmodalpopup\4.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <p class="card-text">pam tree</p>
                        </div>
                      </div>
                </div>
              </div>
              
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="container card1">
                      <div class="ms-5 card" style="width: 18rem;">
                          <img src=".\assets\Images\cartmodalpopup\7.jpg" class="card-img-top" alt="...">
                          <div class="card-body">
                            <p class="card-text">pam tree</p>
                          </div>
                        </div>
                        <div class="card" style="width: 18rem;">
                            <img src=".\assets\Images\cartmodalpopup\5.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <p class="card-text">pam tree</p>
                            </div>
                          </div>
                          <div class="card" style="width: 18rem;">
                            <img src=".\assets\Images\cartmodalpopup\7.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <p class="card-text">pam tree</p>
                            </div>
                          </div>
                          <div class="card" style="width: 18rem;">
                            <img src=".\assets\Images\cartmodalpopup\5 (1).jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <p class="card-text">pam tree</p>
                            </div>
                          </div>

                    </div>
                </div>
                
              </div> 
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>

        
        
    </div>
</div>