*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
.hero{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));
  position: relative;
  padding: 0.5%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
}
.back-video{
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;

}
@media (min-aspect-ratio:16/9){
  .back-video{
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio:16/9){
  .back-video{
    width: auto;
    height: 100%;
  }
}
.content1{
  position: fixed;
  bottom: 30px;
  left: 30px;
  color: rgb(68, 67, 67);
  font-size: 20px;
}


.content2{
  position: fixed;
  bottom: 30px;
  right: 30px;
  color: rgb(68, 67, 67);
  font-size: 20px;
}

