<div id="carouselExampleControlsNoTouching" class="carousel slide" data-bs-touch="false" data-bs-interval="false">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="../../../../assets/Images/images2/1.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption">

                <div class="round">
                    <div class="dot"></div>
                    <h3 class="a1">Bring</h3>
                    <div class="dot1"></div>
                    <h2 class="a2">christmas</h2>
                    <h2 class="a3">Sale</h2>
                    <h2 class="a4">Up To </h2>
                    <h2 class="a5">45% OFF </h2>
                    <button type="button" class="btn btn-outline-danger a6">Shop Now</button>
                </div>
            </div>
            <div class="carousel-caption ">

            </div>
        </div>
        <div class="carousel-item">
            <img src="../../../../assets/Images/images2/2.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption one4">
                <div class="round1">
                    <div class="dot"></div>
                    <h3 class="a1">Bring</h3>
                    <div class="dot1"></div>
                    <h2 class="a2">christmas</h2>
                    <h2 class="a3">Sale</h2>
                    <h2 class="a4">Up To </h2>
                    <h2 class="a5">45% OFF </h2>
                    <button type="button" class="btn btn-outline-danger a6">Shop Now</button>
                </div>
            </div>
            <div class="carousel-caption ">

            </div>
        </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>

</div>
<br>
<br>



<div class="d-flex">
   <div class="d-flex ">
    <div class="b1" >
        <img src="../../../../assets/Images/images2/sub-banner1.19d186d2.jpg">
        <h3 class="c1">Chistmas</h3>
        <p class="c2">Gift Box</p>
    </div>
    <div class="b2">
        <img src="../../../../assets/Images/images2/sub-banner2.0188b5c3.jpg">
        <h3 class="c3">Go Chistmas</h3>
        <p class="c4">Cholates</p>
    </div>
   </div>
</div>
<br><br><br>


<div class="">
    <h1 class="d1">TOP COLLECTION</h1>
</div>
<br>
<br>
<br>
<br>
<div class="d-flex label-inline f1">
    <div class="card car2" style="width: 18rem;">
      <img src="../../../../assets/Images/images2/5.jpg" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title carbo">Chocolates Buke</h5>
        <h6>$125   <del> $250 </del></h6>
        <a href="#" class="btn btn-outline-danger one10">Shop</a>
      </div>
     </div>
     <div class="card car2" style="width: 18rem;">
      <img src="../../../../assets/Images/images2/6.jpg" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title carbo">Watch </h5>
        <h6>$125   <del> $250 </del></h6>
        <a href="#" class="btn btn-outline-danger one10">Shop</a>
      </div>
     </div>
     <div class="card car2" style="width: 18rem;">
      <img src="../../../../assets/Images/images2/7.jpg" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title carbo">Makeup Kit</h5>
        <h6>$125   <del> $250 </del></h6>
        <a href="#" class="btn btn-outline-danger one10">Shop</a>
      </div>
     </div>
     <div class="card car2" style="width: 18rem;">
      <img src="../../../../assets/Images/images2/8.jpg" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title carbo">PerFume</h5>
        <h6>$125   <del> $250 </del></h6>
        <a href="#" class="btn btn-outline-danger one10">Shop</a>
      </div>
     </div>
     <div class="card car2" style="width: 18rem;">
      <img src="../../../../assets/Images/images2/9.jpg" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title carbo">Toblerone</h5>
        <h6>$125   <del> $250 </del></h6>
        <a href="#" class="btn btn-outline-danger one10">Shop</a>
      </div>
     </div>
     <div class="card car2" style="width: 18rem;">
      <img src="../../../../assets/Images/images2/10.jpg" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title carbo">Makeup Kit</h5>
        <h6>$125   <del> $250 </del></h6>
        <a href="#" class="btn btn-outline-danger one10">Shop</a>
      </div>
     </div>
     <div class="card car2" style="width: 18rem;">
      <img src="../../../../assets/Images/images2/11.jpg" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title carbo"> Perfume</h5>
        <h6>$125   <del> $250 </del></h6>
        <a href="#" class="btn btn-outline-danger one10">Shop</a>
      </div>
     </div>
     <div class="card car2" style="width: 18rem;">
      <img src="../../../../assets/Images/images2/12.jpg" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title carbo">Toblerone</h5>
        <h6>$125   <del> $250 </del></h6>
        <a href="#" class="btn btn-outline-danger one10">Shop</a>
      </div>
     </div>
  </div>
  
<br>

  <div class=" ">
   <div>
    <img src="../../../../assets/Images/images2/13 (1).jpg" class="g1">
    <h3 class="g2">New Collection Of Awesome Gift</h3>
    <h2 class="g3">End Of The Year SALE</h2>
    <h4 class="g4">Get <span>50% </span> Off</h4>
    <button class="btn btn-danger g5">Shop Now</button>
   </div>
  </div>

  <br>
  <br>
  <br>

  <div class="">
    <h1 class="d1">OUR PRODUCTS</h1>
</div>
<div class="d-flex">
    <div class="card l1" style="width: 18rem;">
        <img src="../../../../assets/Images/images2/9.jpg" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title carbo">Toblerone</h5>
          <h6>$125   <del> $250 </del></h6>
          <a href="#" class="btn btn-outline-danger one10">Shop</a>
        </div>
       </div>
       <div class="card l1" style="width: 18rem;">
        <img src="../../../../assets/Images/images2/10.jpg" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title carbo">Makeup Kit</h5>
          <h6>$125   <del> $250 </del></h6>
          <a href="#" class="btn btn-outline-danger one10">Shop</a>
        </div>
       </div>
       <div class="card l1" style="width: 18rem;">
        <img src="../../../../assets/Images/images2/11.jpg" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title carbo"> Perfume</h5>
          <h6>$125   <del> $250 </del></h6>
          <a href="#" class="btn btn-outline-danger one10">Shop</a>
        </div>
       </div>
       <div class="card l1" style="width: 18rem;">
        <img src="../../../../assets/Images/images2/12.jpg" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title carbo">Toblerone</h5>
          <h6>$125   <del> $250 </del></h6>
          <a href="#" class="btn btn-outline-danger one10">Shop</a>
        </div>
       </div>
    
</div>
<br>
<br>
<div class="d-flex">
    <div class="card l1" style="width: 18rem;">
        <img src="../../../../assets/Images/images2/5.jpg" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title carbo">Toblerone</h5>
          <h6>$125   <del> $250 </del></h6>
          <a href="#" class="btn btn-outline-danger one10">Shop</a>
        </div>
       </div>
       <div class="card l1" style="width: 18rem;">
        <img src="../../../../assets/Images/images2/6.jpg" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title carbo">Makeup Kit</h5>
          <h6>$125   <del> $250 </del></h6>
          <a href="#" class="btn btn-outline-danger one10">Shop</a>
        </div>
       </div>
       <div class="card l1" style="width: 18rem;">
        <img src="../../../../assets/Images/images2/7.jpg" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title carbo"> Perfume</h5>
          <h6>$125   <del> $250 </del></h6>
          <a href="#" class="btn btn-outline-danger one10">Shop</a>
        </div>
       </div>
       <div class="card l1" style="width: 18rem;">
        <img src="../../../../assets/Images/images2/8.jpg" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title carbo">Toblerone</h5>
          <h6>$125   <del> $250 </del></h6>
          <a href="#" class="btn btn-outline-danger one10">Shop</a>
        </div>
       </div>
    
</div>
<br>
<div class="one20">
    <div class="d-flex">
      <img src="../../../../assets/Images/images2/1.png" class="t1"><br><br><br>
      <img src="../../../../assets/Images/images2/2.png" class="t2">
      <img src="../../../../assets/Images/images2/3.png" class="t3">
      <img src="../../../../assets/Images/images2/4.png" class="t4">
      <img src="../../../../assets/Images/images2/5.png" class="t5">
      <img src="../../../../assets/Images/images2/6.png" class="t6">
      <img src="../../../../assets/Images/images2/7.png" class="t7">
      <img src="../../../../assets/Images/images2/8.png" class="t8">
    </div>
  </div>


  <img src="../../../../assets/images2/santa.29891f59.png" class="z1">
