.one1{
    margin-bottom: 100px;
    margin-left: 650px;
}
.welcomep{
    color: black;
}
.one2{
    margin-bottom: 130px;
    margin-right: 700px;
}
.one3{
    font-size:70px;
    color: black;
}
#b1{
    margin-top: 20px;
}
.one4{
    margin-left: 650px;
    margin-bottom: 60px;
}

.one5{
    
    margin-left: 100px;
    margin-bottom: 150px;
}
.one6{
    font-size:70px;
    left: 100px;
    color: black;
}
.welcomep1{
    color: black;
}