*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 70px;


}
img{
  width: 100%;
  height: auto;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  cursor: pointer;

}
.main{
  display:flex;
  justify-content: center;
  align-items: center;
  margin: 50px 30px;

}
.row{
  display: flex;
  gap: 30px;

}
.col{
  display: flex;
  flex-direction: column;
  gap: 30px;
}
/* /Responsive code for gallery */
@media screen and (max-width: 750px) {
  .row{
    flex-direction: column;
  }

}
