
<div class="main">
  <div class="container">
    <div class="row">
      <div class="col">
        <img [src]="imgPath1" alt="">
        <img [src]="imgPath2" alt="">
        <img [src]="imgPath3" alt="">
      </div>

      <div class="col">
        <img [src]="imgPath4" alt="">
        <img [src]="imgPath5" alt="">
        <img [src]="imgPath6" alt="">
      </div>

      <div class="col">
        <img [src]="imgPath7" alt="">
        <img [src]="imgPath8" alt="">
        <img [src]="imgPath9" alt="">
      </div>

      <div class="col">
        <img [src]="imgPath10" alt="">
        <img [src]="imgPath11" alt="">
        <img [src]="imgPath12" alt="">
      </div>

    </div>
  </div>
</div>
