/* navflex */

.flexnav{
    position: absolute;
    display: flex;
    top: 25vh;
    text-transform: uppercase;
    font-size: 18px;
    left: 5%;
   
}
.bgcolor{
    margin-top: 5vh;
    padding-bottom: 30px;
    background-color: #f8f8f8;

    padding-top: 8vh;
    
}
.listcur a{
   text-decoration: none;
   color: #555;
   font-weight: 600;
}

.listspan{
    padding-left: 15%;
}

.listflex{
    display:flex;
    position: relative;
    left : 60vw;
    
}
.listflex li{
    padding-left: 10%;
    color: #555;
    font-weight: 600;
}


/* titles */
.maintitle{
  
   margin-top: 8vh;
}

.title1{
    text-align: center;
}
.title1 h2{
    /* border-bottom: 3px solid #ff4c3b; */
    padding-bottom: 0.5%;
  margin-bottom: 20px;
  
}
.title-inner1:after {
    position: absolute;
    height: 5px;
    width: 70px;

    background-color: #ff4c3b;
    content: "";
    top: 52vh;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 0;
}


.title2{
    text-align: center;
 }

.title2 h4{
    text-transform: uppercase;
}
.title2 h2{
   
  margin-bottom: 20px;
}

.title-inner2{
    position: relative;
    display: inline-block;
    
}
.title-inner2:after {
    position: absolute;
    height: 6px;
    width: 100%;
    background-color: #ff4c3b;
    opacity: .4;
    content: "";
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 3px;
    z-index: -1;
}
.title3{
    text-align: center;
   

}


.title-inner3{
    display: inline-block;
    position: relative;
    height: 5px;
    background-color: #ff4c3b;
    content: "";
   
    width: 45px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto 50px;
    margin-bottom: 20px;
   
}
.title-inner3:before {
   
    position: absolute;
    left: 50px;
    width: 10px;
    height: 5px;
    background-color: #ff4c3b;
    content: "";
}
.title-inner3:after{
    position: absolute;
    height: 5px;
    right: 50px;
    width: 10px;
    background-color: #ff4c3b;
    content: "";
}

.title4{
    text-align: center;
    
}

.title4 h4{
    color: #222;
}
.title5{
    text-align: center;
    margin-bottom: 25px;
}

.title4 h2{
    padding-bottom: 0.5%;
    margin-bottom: 20px;
}


h2{
    font-size: 35px;
    color: #222;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1;
    letter-spacing: .02em;
}

h4{
    color:#ff4c3b;
    font-weight: 400;
    letter-spacing: .03em;
    font-size: 20px;
    line-height: 1;
    padding-bottom: 8px;
    text-transform: capitalize;
    padding-top: 4px;
}

