
<div class="bgcolor">
    <nav class="flexnav">
        <div>
            Elements
        </div>
        <div >
            <ul type="none" class="listflex">
                <li class="listcur"><a href="#">home</a><span class="listspan">/</span></li>
                <li>elements<span class="listspan">/</span></li>
                <li>title</li>
            </ul>
        </div>
    </nav>
</div>


<div class="maintitle">
    <div class="title1">
        <h4>recent story</h4>
        <h2 class="title-inner1">trending products</h2>
    </div>
    <div class="title2">
        <h4>recent story</h4>
        <h2 class="title-inner2">trending products</h2>
    </div>
    <div class="title3">
        <h4>recent story</h4>
        <h2>trending products</h2>
        <div class="title-inner3"></div>
    </div>
    <div class="title4">
        <h4>recent story</h4>
        <h2>trending products</h2>
    </div>
    <div class="title5">
        <h4>recent story</h4>
        <h2>trending products</h2>
    </div>
</div>