<div class="container-fluid1 mt-2 mb-5">
    <section>
        <div class="container-fluid1">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div *ngFor="let sum of formdata | slice : 0 : 1">
                            <img [src]="sum.image " class="d-block w-100" alt="image1">
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div *ngFor="let sum of formdata | slice : 1 : 2">
                            <img [src]=" sum.image " class="d-block w-100" alt="image2">
                        </div>
                    </div>
                    <div class="position1 p-5">
                        <h5 class="ms-lg-5" style="letter-spacing: 8px;">welcome to Fashion</h5>
                        <h1 class="heading1">MEN FASHION </h1>
                        <button type="button" class="btn btn-light col-1 ms-lg-5">SHOP NOW</button>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
               <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                   <span class="visually-hidden">Previous</span>
               </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
            </div>
        </div>
    </section>
</div>
<div class="coontainer-fluid mt-5 mb-5"></div>

<div class="container-fluid mt-5" style="margin-top: 50px; margin-left: 10px;">
    <div class="row2 d-flex justify-content-around">
        <div class="col5" style="overflow: hidden;font-size:16px">
            <img [src]="imagep1" class="img-fluid" alt="...">
            <div class="top-right">10% off</div>
            <div class="top-right1">MEN</div>
        </div>
        <div class="col6" style="overflow: hidden;">
            <img [src]="imagep" class="img-fluid" alt="...">
            <div class="top-right2">10% off</div>
            <div class="top-right3">WOMEN</div>
        </div>
    </div>
</div>

<div class="p-5 text-center bg-light mb-5 mt-5">
    <h5 class="mb-4" style="color: red;">Special Offer</h5>
    <h1 class="mb-3">TOP COLLECTION</h1>
    <hr style="width:15%;text-align:center;margin-left: 600PX; border: 5px solid red;">
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
</div>
<div class=" mt-5">
    <div class="row d-flex justify-content-between">

        <div class="col">
            <figure> <img src="assets/Images/d1.jpg" class="img-fluid" alt="..."></figure>
            <div class="col">
                <div class="rating">
                    <i class="fa fa-star favourite_icon" aria-hidden="true" style="font-size:20px;color:gold"></i>
                    <i class="fa fa-star favourite_icon" aria-hidden="true" style="font-size:20px;color:gold"></i>
                    <i class="fa fa-star favourite_icon" aria-hidden="true" style="font-size:20px;color:gold"></i>
                    <i class="fa fa-star favourite_icon" aria-hidden="true" style="font-size:20px;color:gold"></i>
                    <i class="fa fa-star favourite_icon" aria-hidden="true" style="font-size:20px;color:wheat"></i>
                </div>
            </div>
            <h4>belted dress</h4>
            <h5>$130</h5>
            <div>
                <span class="dot" style="background-color: skyblue;"></span>
                <span class="dot" style="background-color: black;"></span>
                <span class="dot" style="background-color: white;"></span>
            </div>
        </div>

        <div class="col">
            <figure><img src="assets/Images/d2.jpg" class="img-fluid" alt="..."></figure>
            <div class="col">
                <div class="rating">
                    <i class="fa fa-star favourite_icon" aria-hidden="true" style="font-size:20px;color:gold"></i>
                    <i class="fa fa-star favourite_icon" aria-hidden="true" style="font-size:20px;color:gold"></i>
                    <i class="fa fa-star favourite_icon" aria-hidden="true" style="font-size:20px;color:gold"></i>
                    <i class="fa fa-star favourite_icon" aria-hidden="true" style="font-size:20px;color:gold"></i>
                    <i class="fa fa-star favourite_icon" aria-hidden="true" style="font-size:20px;color:wheat"></i>
                </div>
                <h4>belted top</h4>
                <h5>$330</h5>
                <div>
                    <span class="dot" style="background-color: navy;"></span>
                    <span class="dot" style="background-color: chocolate;"></span>
                    <span class="dot" style="background-color: black;"></span>
                </div>
            </div>
        </div>
        <div class="col">
            <figure><img src="assets/Images/d3.jpg" class="img-fluid" alt="..."></figure>
            <div class="col">
                <div class="rating">
                    <i class="fa fa-star favourite_icon" aria-hidden="true" style="font-size:20px;color:gold"></i>
                    <i class="fa fa-star favourite_icon" aria-hidden="true" style="font-size:20px;color:gold"></i>
                    <i class="fa fa-star favourite_icon" aria-hidden="true" style="font-size:20px;color:gold"></i>
                    <i class="fa fa-star favourite_icon" aria-hidden="true" style="font-size:20px;color:gold"></i>
                    <i class="fa fa-star favourite_icon" aria-hidden="true" style="font-size:20px;color:wheat"></i>
                </div>
                <h4>waist dress</h4>
                <h5>$4044</h5>
                <div>
                    <span class="dot" style="background-color: antiquewhite;"></span>
                    <span class="dot" style="background-color: green;"></span>
                </div>
            </div>
        </div>
        <div class="col">
            <figure><img src="assets/Images/d4.jpg" class="img-fluid" alt="..."></figure>
            <div class="col">
                <div class="rating">
                    <i class="fa fa-star favourite_icon" aria-hidden="true" style="font-size:20px;color:gold"></i>
                    <i class="fa fa-star favourite_icon" aria-hidden="true" style="font-size:20px;color:gold"></i>
                    <i class="fa fa-star favourite_icon" aria-hidden="true" style="font-size:20px;color:gold"></i>
                    <i class="fa fa-star favourite_icon" aria-hidden="true" style="font-size:20px;color:gold"></i>
                    <i class="fa fa-star favourite_icon" aria-hidden="true" style="font-size:20px;color:wheat"></i>
                </div>
                <h4>trim dress</h4>
                <h5>$209</h5>
                <div>
                    <span class="dot" style="background-color: white;"></span>
                    <span class="dot" style="background-color: navy;"></span>
                </div>
            </div>
        </div>
    </div>
    <section>
        <div class="backgroundImgContainer bg-img-text">
            <div class="banner-text">
                <h2 class="b2023">2023</h2>
                <h3 class="bg-img-text">FASHION TRENDS</h3>
                <h4 class="bg-img-Lcapital">SPECIAL OFFER</h4>
            </div>
        </div>
    </section>
    <div class="p-5 text-center bg-light mb-5 mt-5">
        <h5 class="mb-4" style="color: red;">Exclusive Products</h5>
        <h1 class="mb-3">SPECIAL PRODUCTS</h1>
        <hr style="width:15%;text-align:center;margin-left: 600PX; border: 5px solid red;">
    </div>
    <div class=" mt-5">
        <div class="row d-flex justify-content-between">
            <div class="col">
                <figure><img src="assets/Images/d6.jpg" class="img-fluid" alt="..."></figure>
                <div class="col">
                    <div class="rating">
                        <i class="fa fa-star favourite_icon" aria-hidden="true" style="font-size:20px;color:gold"></i>
                        <i class="fa fa-star favourite_icon" aria-hidden="true" style="font-size:20px;color:gold"></i>
                        <i class="fa fa-star favourite_icon" aria-hidden="true" style="font-size:20px;color:gold"></i>
                        <i class="fa fa-star favourite_icon" aria-hidden="true" style="font-size:20px;color:gold"></i>
                        <i class="fa fa-star favourite_icon" aria-hidden="true" style="font-size:20px;color:wheat"></i>
                    </div>
                    <h4>belted top 2</h4>
                    <h5>$330</h5>
                    <div>
                        <span class="dot" style="background-color: navy;"></span>
                        <span class="dot" style="background-color: chocolate;"></span>
                        <span class="dot" style="background-color: black;"></span>
                    </div>
                </div>
            </div>

            <div class="col">
                <figure><img src="assets/Images/d6.jpg" class="img-fluid" alt="..."></figure>
                <div class="col">
                    <div class="rating">
                        <i class="fa fa-star favourite_icon" aria-hidden="true" style="font-size:20px;color:gold"></i>
                        <i class="fa fa-star favourite_icon" aria-hidden="true" style="font-size:20px;color:gold"></i>
                        <i class="fa fa-star favourite_icon" aria-hidden="true" style="font-size:20px;color:gold"></i>
                        <i class="fa fa-star favourite_icon" aria-hidden="true" style="font-size:20px;color:gold"></i>
                        <i class="fa fa-star favourite_icon" aria-hidden="true" style="font-size:20px;color:wheat"></i>
                    </div>
                    <h4>belted top 2</h4>
                    <h5>$330</h5>
                    <div>
                        <span class="dot" style="background-color: navy;"></span>
                        <span class="dot" style="background-color: chocolate;"></span>
                        <span class="dot" style="background-color: black;"></span>
                    </div>
                </div>
            </div>
            <div class="col">
                <figure><img src="assets/Images/d7.jpg" class="img-fluid" alt="..."></figure>
                <div class="col">
                    <div class="rating">
                        <i class="fa fa-star favourite_icon" aria-hidden="true" style="font-size:20px;color:gold"></i>
                        <i class="fa fa-star favourite_icon" aria-hidden="true" style="font-size:20px;color:gold"></i>
                        <i class="fa fa-star favourite_icon" aria-hidden="true" style="font-size:20px;color:gold"></i>
                        <i class="fa fa-star favourite_icon" aria-hidden="true" style="font-size:20px;color:gold"></i>
                        <i class="fa fa-star favourite_icon" aria-hidden="true" style="font-size:20px;color:wheat"></i>
                    </div>
                    <h4>crop top</h4>
                    <h5>$4044</h5>
                    <div>
                        <span class="dot" style="background-color: antiquewhite;"></span>
                        <span class="dot" style="background-color: green;"></span>
                    </div>
                </div>
            </div>
            <div class="col">
                <figure><img src="assets/Images/d8.jpg" class="img-fluid" alt="..."></figure>
                <div class="col">
                    <div class="rating">
                        <i class="fa fa-star favourite_icon" aria-hidden="true" style="font-size:20px;color:gold"></i>
                        <i class="fa fa-star favourite_icon" aria-hidden="true" style="font-size:20px;color:gold"></i>
                        <i class="fa fa-star favourite_icon" aria-hidden="true" style="font-size:20px;color:gold"></i>
                        <i class="fa fa-star favourite_icon" aria-hidden="true" style="font-size:20px;color:gold"></i>
                        <i class="fa fa-star favourite_icon" aria-hidden="true" style="font-size:20px;color:wheat"></i>
                    </div>
                    <h4>crop top 2</h4>
                    <h5>$209</h5>
                    <div>
                        <span class="dot" style="background-color: white;"></span>
                        <span class="dot" style="background-color: navy;"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class=" mt-5">
            <div class="row d-flex justify-content-between">

                <div class="col">
                    <figure><img src="assets/Images/d9.jpg" class="img-fluid" alt="..."></figure>
                    <div class="col">
                        <div class="rating">
                            <i class="fa fa-star favourite_icon" aria-hidden="true" style="font-size:20px;color:gold"></i>
                            <i class="fa fa-star favourite_icon" aria-hidden="true" style="font-size:20px;color:gold"></i>
                            <i class="fa fa-star favourite_icon" aria-hidden="true" style="font-size:20px;color:gold"></i>
                            <i class="fa fa-star favourite_icon" aria-hidden="true" style="font-size:20px;color:gold"></i>
                            <i class="fa fa-star favourite_icon" aria-hidden="true" style="font-size:20px;color:wheat"></i>
                        </div>
                    </div>
                    <h4>one piece dress</h4>
                    <h5>$130</h5>
                    <div>
                        <span class="dot" style="background-color: skyblue;"></span>
                        <span class="dot" style="background-color: black;"></span>
                        <span class="dot" style="background-color: white;"></span>
                    </div>
                </div>

                <div class="col">
                    <figure><img src="assets/Images/d13.jpg" class="img-fluid" alt="..."></figure>
                    <div class="col">
                        <div class="rating">
                            <i class="fa fa-star favourite_icon" aria-hidden="true" style="font-size:20px;color:gold"></i>
                            <i class="fa fa-star favourite_icon" aria-hidden="true" style="font-size:20px;color:gold"></i>
                            <i class="fa fa-star favourite_icon" aria-hidden="true" style="font-size:20px;color:gold"></i>
                            <i class="fa fa-star favourite_icon" aria-hidden="true" style="font-size:20px;color:gold"></i>
                            <i class="fa fa-star favourite_icon" aria-hidden="true" style="font-size:20px;color:wheat"></i>
                        </div>
                        <h4>one piece dress</h4>
                        <h5>$330</h5>
                        <div>
                            <span class="dot" style="background-color: navy;"></span>
                            <span class="dot" style="background-color: chocolate;"></span>
                            <span class="dot" style="background-color: black;"></span>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <figure><img src="assets/Images/d11.jpg" class="img-fluid" alt="..."></figure>
                    <div class="col">
                        <div class="rating">
                            <i class="fa fa-star favourite_icon" aria-hidden="true" style="font-size:20px;color:gold"></i>
                            <i class="fa fa-star favourite_icon" aria-hidden="true" style="font-size:20px;color:gold"></i>
                            <i class="fa fa-star favourite_icon" aria-hidden="true" style="font-size:20px;color:gold"></i>
                            <i class="fa fa-star favourite_icon" aria-hidden="true" style="font-size:20px;color:gold"></i>
                            <i class="fa fa-star favourite_icon" aria-hidden="true" style="font-size:20px;color:wheat"></i>
                        </div>
                        <h4>sleeveless dress</h4>
                        <h5>$4044</h5>
                        <div>
                            <span class="dot" style="background-color: antiquewhite;"></span>
                            <span class="dot" style="background-color: green;"></span>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <figure><img src="assets/Images/d16.jpg" class="img-fluid" alt="..."></figure>
                    <div class="col">
                        <div class="rating">
                            <i class="fa fa-star favourite_icon" aria-hidden="true" style="font-size:20px;color:gold"></i>
                            <i class="fa fa-star favourite_icon" aria-hidden="true" style="font-size:20px;color:gold"></i>
                            <i class="fa fa-star favourite_icon" aria-hidden="true" style="font-size:20px;color:gold"></i>
                            <i class="fa fa-star favourite_icon" aria-hidden="true" style="font-size:20px;color:gold"></i>
                            <i class="fa fa-star favourite_icon" aria-hidden="true" style="font-size:20px;color:wheat"></i>
                        </div>
                        <h4>sleeveless dress2</h4>
                        <h5>$209</h5>
                        <div>
                            <span class="dot" style="background-color: white;"></span>
                            <span class="dot" style="background-color: navy;"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid" style="background-color:rgb(241, 245, 246); height:700px">
                <div class="p-5 text-center mb-3 mt-5">
                    <h5 class="mb-4" style="color: red;">Our collection</h5>
                    <h1 class="mb-3">SPECIAL PRODUCTS</h1>
                    <hr style="width:15%;text-align:center;margin-left: 600PX; border: 5px solid red;">

                </div>
                <div class="row justify-content-center mt-0 my-5 pt-0">
                    <div class="col-md-3 bg-white">
                        <div class="container6">
                            <div>
                                <img [src]="imagep2" width="100%" alt="" class="img-fluid1">
                                <div class="overlay">
                                    <div class="text"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 bg-white ms-1">
                        <div class="container6">
                            <div>
                                <img [src]="imagep3" width="100%" alt="" class="img-fluid1">
                                <div class="overlay">
                                    <div class="text"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 bg-white ms-1">
                        <div class="container6">
                            <div>
                                <img [src]="imagep4" width="100%" alt="" class="img-fluid1">
                                <div class="overlay">
                                    <div class="text"></div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="container-fluid" style="background-color:rgb(235, 245, 241);">
                    <div class="row justify-content-center mt-0 my-1 pt-0">
                        <div class="col-md-3 ms-1">
                            <h5 class="text-center"><span style="color:red">26 January 2018</span></h5>
                            <h6 class="mt-3 text-uppercase">capture and sync subscribers from your mailchimp to our ease with ease</h6>
                            <hr style="width:50%;text-align:left;margin-left: 80PX; border: 3px solid black;">
                            <p class="text-center"><span style="color:red">by;by john dio ; 2 comment</span></p>
                        </div>
                        <div class="col-md-3 ms-1">
                            <h5 class="text-center"><span style="color:red">26 January 2018</span></h5>
                            <h6 class="mt-3 text-uppercase">capture and sync subscribers from your mailchimp to our ease with ease</h6>
                            <hr style="width:50%;text-align:left;margin-left: 80PX; border: 3px solid black;">
                            <p class="text-center"><span style="color:red">by;by john dio ; 2 comment</span></p>
                        </div>
                        <div class="col-md-3 ms-1">
                            <h5 class="text-center"><span style="color:red">26 January 2018</span></h5>
                            <h6 class="mt-3 text-uppercase">capture and sync subscribers from your mailchimp to our ease with ease</h6>
                            <hr style="width:50%;text-align:left;margin-left: 80PX; border: 3px solid black;">
                            <p class="text-center"><span style="color:red">by;by john dio ; 2 comment</span></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-fluid mt-5 mb-0 pt-5" style="height: 250px;">
                <div class="row d-flex justify-content-evenly g-3 pt-2 pb-3" style="background: rgb(250, 248, 248);">
                    <div class="col-md-4">
                        <div class="container" style="width:100%; height: auto; border: 1px solid black;">
                            <div class="row">
                                <div class="col">
                                    <img src="assets/Images/free.jpeg" alt="free" class="img-fluid" style="width:100%; height:auto; padding-left: 70px;">
                                </div>
                                <div class="col">
                                    <h5 class="mt-5 text-center text-uppercase" style="color:black">
                                        Free delivery </h5>
                                    <h6 class="mt-1 text-center" style="color:black">
                                        Free shipping world wide </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="container" style="width:100%; height: auto; border: 1px solid black;">
                            <div class="row">
                                <div class="col">
                                    <img src="assets/Images/festival.jpeg" alt="free" class="img-fluid" style="width:100%; height:auto; padding-left: 70px;">
                                </div>
                                <div class="col">
                                    <h5 class="mt-5 text-center text-uppercase" style="color:black">
                                        24×7 service </h5>
                                    <h6 class="mt-1 text-center" style="color:black">
                                        24×7 online service </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="container" style="width:100%; height: auto; border: 1px solid black;">
                            <div class="row">
                                <div class="col">
                                    <img src="assets/Images/diwali.avif" alt="free" class="img-fluid" style="width:100%; height:auto; padding-left: 70px;">
                                </div>
                                <div class="col">
                                    <h5 class="mt-5 text-center text-uppercase" style="color:black">
                                        festival offer </h5>
                                    <h6 class="mt-1 text-center" style="color:black">
                                        New online special Festival Offer</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid pt-0 mt-lg-0 g-0" style="background-color:rgb(235, 245, 241); height:700px">
                <div class="p-5 text-center mb-0 mt-0">
                    <h1 class="mb-3">#INSTAGRAM</h1>
                    <hr style="width:15%;text-align:center;margin-left: 600PX; border: 5px solid red;">

                </div>

                <div class="row justify-content-center mt-0 my-3 pt-0 mb-3">
                    <div *ngFor="let sum of formdata1 | slice : 0: 6" class="col-sm-2">
                        <div class="container7">
                            <div>
                                <img [src]="sum.image" width="100%" alt="" class="img-fluid2">
                                <div class="overlay">
                                    <div class="text"><i class="fa fa-instagram"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center mt-5 my-3 pt-5 mb-3">
                    <div *ngFor="let sum of formdata2 | slice : 0: 8" class="col-lg-1">
                        <div class="container8" style="border: 1px solid black;">
                            <div>
                                <img [src]="sum.image" width="100%" alt="" class="img-fluid2">
                                <div class="overlay">
                                    <div class="text"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer">
                    <footer class="footer-last">
                        <div class="footer-last-first-text">
                            <div class="container">
                                <div class="row">
                                    <div class="footer-s-section">
                                        <div class="col-md-6">
                                            <div class="footer-sub">
                                                <div>
                                                    <h6>KNOW IT ALL FIRST!</h6>
                                                    <p class="paragraph1">Never Miss Anything From Multikart By Signing Up To Our Newsletter.</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="footer-2sub">
                                                <div class="mx-sm-6">
                                                    <input placeholder="Enter your email" type="text" class="footer-form form-control">
                                                </div>
                                                <button type="submit" class="btn footer-btn">subscribe</button>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <hr>
                            </div>
                        </div>
                        <div class="footer-2part mt-5">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="footer-2part-contet">
                                            <div class="footer-2part-content-img">
                                                <img style="height: 38px;" src="assets/Images/logo1.png" alt="">
                                            </div>
                                            <p class="paragraph2" style="font-size: 15px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
                                            <div class="footer-2part-contet-social">
                                                <i class="fa-brands fa-facebook-f"></i>
                                                <i class="fa-brands fa-google-plus-g"></i>
                                                <i class="fa-brands fa-twitter"></i>
                                                <i class="fa-brands fa-instagram"></i>
                                                <i class="fa-solid fa-wifi"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="footer-2part-contet-links">
                                            <div class="footer-2part-contet-links-title">
                                                <h4>my account</h4>
                                            </div>
                                            <div class="footer-2part-contet-links-links">

                                                <a href=".\pages\collection">Women</a>
                                                <a href=".\pages\collection">Clothing</a>
                                                <a href=".\pages\collection">Accessories</a>
                                                <a href=".\pages\collection">Featured</a>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="footer-2part-contet-links">
                                            <div class="footer-2part-contet-links-title">
                                                <h4>WHY WE CHOOSE</h4>
                                            </div>
                                            <div class="footer-2part-contet-links-links">

                                                <a href="#">Shipping & Return</a>
                                                <a href="#">Secure Shopping</a>
                                                <a href="#">Gallary</a>
                                                <a href="#">Affiliates</a>
                                                <a href="#">Contacts</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="footer-2part-contet-links">
                                            <div class="footer-2part-contet-links-title">
                                                <h4>STORE INFORMATION</h4>
                                            </div>
                                            <div class="footer-2part-contet-links-links">

                                                <a href="#"> <i class="fa-solid fa-location-dot"></i>
                                                    <p>Multikart Demo Store, Demo Store India 345-659</p>
                                                </a>
                                                <a href="#"><i class="fa-solid fa-phone"></i><p>Call Us: 123-456-7898</p></a>
                                                <a href="#"><i class="fa-regular fa-envelope"></i><p>Email Us: Support@Fiot.Com</p></a>
                                                <a href="#"><i class="fa-solid fa-fax"></i><p>Fax: 123456</p></a>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="footer-3part">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6 footer-3part-last d-flex justify-content-start">
                                        <i class="fa-regular fa-copyright"></i>
                                        <p>2023-24 themeforest powered by pixelstrap</p>
                                    </div>
                                    <div class="col-md-6 footer-3part-payment">
                                        <div class="footer-3part-payments">
                                            <a href="#" class="footer-3part-py ps-3"><img src="assets/Images/mastercard.png" alt=""></a>
                                            <a href="#" class="footer-3part-py ps-3"><img src="assets/Images/paypal.png" alt=""></a>
                                            <a href="#" class="footer-3part-py ps-3"><img src="assets/Images/visa.png" alt=""></a>
                                            <a href="#" class="footer-3part-py ps-3"><img src="assets/Images/discover.png" alt=""></a>
                                            <a href="#" class="footer-3part-py ps-3"><img src="assets/Images/american-express.png" alt=""></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </footer>
                </div>
            </div>
        </div>