
.t1{
    padding: auto;
    margin-top: 20px;
    
}
.t2{
    padding: auto;
    margin-top: 20px;
    margin-left: 40px;
}
.t3{
    padding: auto;
    margin-top: 20px;
    margin-left: 40px;
}
.t4{
    padding: auto;
    margin-top: 20px;
    margin-left: 40px;
}
.t5{
    padding: auto;
    margin-top: 20px;
    margin-left: 40px;
}
.t6{
    padding: auto;
    margin-top: 20px;
    margin-left: 40px;
}
.t7{
    padding: auto;
    margin-top: 20px;
    margin-left: 40px;
}
.t8{
    padding: auto;
    margin-top: 20px;
    margin-left: 40px;
}
