<div class="card">
    <p-table [value]="cartData" [tableStyle]="{'min-width': '60rem'}">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                Products
                <p-button icon="pi pi-refresh"></p-button>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>Name</th>
                <th>Image</th>
                <th>Price</th>
                <th>Reviews</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td>{{product.title | titlecase}}</td>
                <td><img [src]="product.img" [alt]="product.title" width="100" class="shadow-4" /></td>
                <td>{{product.price }}</td>
                <td><p-rating [ngModel]="product.rating" [readonly]="true" [cancel]="false"></p-rating></td>
                <td><p-tag [value]="product.inventoryStatus"></p-tag>
                </td>
                <td><p-button icon="pi pi-times" (click)="onDelete(product)" severity="danger"></p-button></td>

            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                In total there are {{cartData ? cartData.length : 0 }} products.
            </div>
        </ng-template>
    </p-table>
    <button routerLink="/home">View More</button>
</div>