.one1{
    margin-bottom: 100px;
    margin-left: 650px;
}
.one2{
    margin-bottom: 130px;
    margin-right: 700px;
}
.one3{
    font-size:70px;
}
#b1{
    margin-top: 20px;
}
.one4{
    margin-left: 650px;
    margin-bottom: 60px;
}

.one5{
    margin-bottom: 130px;
    margin-right: 700px;
}
.one6{
    font-size:70px;
}

.one7{
    text-align: center;
    font-family: sans-serif;
    
}
.one8{
    contain: content;
    margin-left: 50px;
}
.one10{
    contain: content;
    
}
.one11{
    position: absolute;
    top: 70px;
    left: 110px;
    color: white;
    
}
.container1{
    position: relative;
}
.one12{
    position: absolute;
    top: 130px;
    left: 110px;
    width: 320px;
}
.one13{
    position: absolute;
    top: 190PX;
    left: 110PX;
    width: 320PX;
    margin-top: 10PX;
}
.one14{
    position: absolute;
    top: 250PX;
    left: 110PX;
    width: 320PX;
    margin-top: 20PX;
}
.one15{
    position: absolute;
    top: 310PX;
    left: 110PX;
    width: 320PX;
    margin-top: 30PX;
}
.one16{
    position: absolute;
    top: 380px;
    left: 70px;
    margin: 40px;
    width: 320px;
}
.one17{
    position: absolute;
    left: 520px;
    top: 1900px;
}
.pa{ 
    
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    color: black;
    margin-top: 30px;
    font-family: 'Times New Roman', Times, serif;
    /* margin-left: 450px; */
    margin-top: 10px;
}
.pb{ 
    
    font-weight: bold;
    font-size: 50px;
    color: black;
    margin-top: 20px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 480px;
    margin-top: 10px;
}

.d1{
    height: 50px;
    width: 1250px;
    text-align: center;
    
    margin-top: 50px;
    color: gray;
    font-size: 1px;
    font-weight: 100;
}

.car1{
    margin-top: 50px;
    margin-left: 50px;
}
.car2{
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 20px;
}


.f1{
    margin-left: 10px;
    margin-top: 20px;
    margin-right: 40px;
}

.carbo{
    text-transform: uppercase;
    color: #2d2a25;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 0;
    padding-bottom: 25px;
    padding-top: 5px;
    font-size: 18px;
    line-height: 1;
    text-align: center;
    margin-left: 5px;
}

.t1{
    padding: auto;
    margin-top: 20px;
    margin-left: 40px;
}
.t2{
    padding: auto;
    margin-top: 20px;
    margin-left: 40px;
}
.t3{
    padding: auto;
    margin-top: 20px;
    margin-left: 40px;
}
.t4{
    padding: auto;
    margin-top: 20px;
    margin-left: 40px;
}
.t5{
    padding: auto;
    margin-top: 20px;
    margin-left: 40px;
}
.t6{
    padding: auto;
    margin-top: 20px;
    margin-left: 40px;
}
.t7{
    padding: auto;
    margin-top: 20px;
    margin-left: 40px;
}
.t8{
    padding: auto;
    margin-top: 20px;
    margin-left: 40px;
}

.png{
    margin-left: 100px;
}