<div id="carouselExampleControlsNoTouching" class="carousel slide" data-bs-touch="false" data-bs-interval="false">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../../../assets/Images/images/49.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption">
          <img src="../../../../assets/Images/images/4.98053bf7tools.png" class="one1">
         
        </div>
        <div class="carousel-caption one2">
          <p *ngFor="let h1 of CarouText1" class="welcomep">{{h1.CarouText1}}</p>
          <h1 *ngFor="let h2 of CarouText2" class="one3">{{h2.CarouText2}}</h1>
          <button *ngFor="let btD of btnData1" class="btn btn-danger" id="b1">{{btD.btnData1}}</button>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../../../assets/Images/images/50 (1).jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption one4">
          <img src="../../../../assets/Images/images/1.5549dd3c.png" class="">
        </div>
        <div class="carousel-caption one5">
          <p *ngFor="let h1 of CarouText1" class="welcomep">{{h1.CarouText1}}</p>
          <h1 *ngFor="let h2 of CarouText2"  class="one6">{{h2.CarouText2}}</h1>
          <button *ngFor="let btD of btnData1" class="btn btn-danger" id="b1">{{btD.btnData1}}</button>
        </div>
      </div>
      
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  
  <br>
  <br>
  
  <h2 *ngFor="let Mhd of middHead" class="pa">{{Mhd.middHead}}</h2>
  
  <div class="container d1">
    <h5>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
      aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo
      enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui
      ratione voluptatem sequi nesciunt.</h5>
  </div>
  
  
  
  <div class="d-flex f1">
    <div class="card car1" style="width: 18rem;">
      <img src="../../../../assets/Images/images/1.053f84ce.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 *ngFor="let h2 of CarouText2" class="card-title carbo">{{h2.CarouText2}}</h5>
        <p class="one7">
          D1 Miano<br>
          Damaskeening<br>
          Diving Watch <br>
          Dollar Watch
        </p>
        <a href="#" *ngFor="let btD2 of btnData2" class="btn btn-outline-danger one8">{{btD2.btnData2}}</a>
      </div>
    </div>
    <div class="card car1" style="width: 18rem;">
      <img src="../../../../assets/Images/images/2.41c68aa9.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title carbo">break & Steering</h5>
        <p class="one7">
          shock-resistant watch <br>
          skeleton watch <br>
          solw watch <br>
          solar power watch
        </p>
        <a href="#" *ngFor="let btD2 of btnData2" class="btn btn-outline-danger one8">{{btD2.btnData2}}</a>
      </div>
    </div>
    <div class="card car1" style="width: 18rem;">
      <img src="../../../../assets/Images/images/3.96741554.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title carbo">engine </h5>
        <p class="one7">
          Watchmaking  <br>
          Breitling SA <br>
          Casio Watch <br>
          Citizen Watch
        </p>
        <a href="#" *ngFor="let btD2 of btnData2" class="btn btn-outline-danger one8">{{btD2.btnData2}}</a>
      </div>
    </div>
    <div class="card car1" style="width: 18rem;">
      <img src="../../../../assets/Images/images/4.7dc68adf.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title carbo">Exterior Access</h5>
        <p class="one7">
          Manufacture D"horlogerie <br>
          Mechanical Watche <br>
          Microbrand Watches <br>
          MIL-W-46374
        </p>
        <a href="#" *ngFor="let btD2 of btnData2" class="btn btn-outline-danger one8">{{btD2.btnData2}}</a>
      </div>
    </div>
    <div class="card car1" style="width: 18rem;">
      <img src="../../../../assets/Images/images/5.2233e509.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title carbo">others parts</h5>
       
          <p class="one7">
            D1 Milano <br>
            Damaskeening <br>
            Diving Watch <br>
            Dollar Watch
          </p>
        
          <a href="#" *ngFor="let btD2 of btnData2" class="btn btn-outline-danger one8">{{btD2.btnData2}}</a>
      </div>
    </div>
  </div>
  <br>
  <br>
  
  
  <h2 class="pb">POPULAR PRODUCTS</h2>
  
  <div class="d-flex label-inline">
    <div class="card car2" style="width: 18rem;">
      <img src="../../../../assets/Images/images/1.jpg" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title carbo">Lubricants</h5>
        <button *ngFor="let btD of btnData1" class="btn btn-danger one10">{{btD.btnData1}}</button>
      </div>
     </div>
     <div class="card car2" style="width: 18rem;">
      <img src="../../../../assets/Images/images/2.jpg" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title carbo">Cable </h5>
        <button *ngFor="let btD of btnData1" class="btn btn-danger one10">{{btD.btnData1}}</button>
      </div>
     </div>
     <div class="card car2" style="width: 18rem;">
      <img src="../../../../assets/Images/images/3 (1).jpg" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title carbo">Vaccum </h5>
        <button *ngFor="let btD of btnData1" class="btn btn-danger one10">{{btD.btnData1}}</button>
      </div>
     </div>
     <div class="card car2" style="width: 18rem;">
      <img src="../../../../assets/Images/images/4.jpg" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title carbo">Cap Wheel</h5>
        <button *ngFor="let btD of btnData1" class="btn btn-danger one10">{{btD.btnData1}}</button>
      </div>
     </div>
     <div class="card car2" style="width: 18rem;">
      <img src="../../../../assets/Images/images/5.jpg" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title carbo"> Cleaner</h5>
        <button *ngFor="let btD of btnData1" class="btn btn-danger one10">{{btD.btnData1}}</button>
      </div>
     </div>
     <div class="card car2" style="width: 18rem;">
      <img src="../../../../assets/Images/images/6.jpg" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title carbo">Suspension</h5>
        <button *ngFor="let btD of btnData1" class="btn btn-danger one10">{{btD.btnData1}}</button>
      </div>
     </div>
     <div class="card car2" style="width: 18rem;">
      <img src="../../../../assets/Images/images/7.jpg" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title carbo"> Bearing</h5>
        <button *ngFor="let btD of btnData1" class="btn btn-danger one10">{{btD.btnData1}}</button>
      </div>
     </div>
     <div class="card car2" style="width: 18rem;">
      <img src="../../../../assets/Images/images/8.jpg" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title carbo"> Cleaner</h5>
        <button *ngFor="let btD of btnData1" class="btn btn-danger one10">{{btD.btnData1}}</button>
      </div>
     </div>
  </div>
  <br>
  <br>
  <div class="d-block">
    <div>
      <div class="container1">
        <img src="../../../../assets/Images/images/50 (2) (1).jpg" style="width: 100%;">
        <h2 class="one11">SELECT YOUR VEHICAL</h2><br><br><br>
        <select class="form-select one12" aria-label="Default select example">
          <option selected>Select Make</option>
          <option value="1">BWM</option>
          <option value="2">BENZ</option>
          <option value="3">SKODA</option>
        </select>
        <select class="form-select one13" aria-label="Default select example">
          <option selected>Select Model</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
        <select class="form-select one14" aria-label="Default select example">
          <option selected>Select Model</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
        <select class="form-select one15" aria-label="Default select example">
          <option selected>Select Model</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
  
        <button class="btn btn-danger one16">FIND MY PARTS</button>
      </div>
      <div class="d-flex one17">
        <div class="card car2" style="width: 18rem;">
          <img src="../../../../assets/Images/images/5.jpg" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title carbo">Air Cleaner</h5>
            <button *ngFor="let btD of btnData1" class="btn btn-danger one10">{{btD.btnData1}}</button>
          </div>
         </div>
         <div class="card car2" style="width: 18rem;">
          <img src="../../../../assets/Images/images/6.jpg" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title carbo">Suspension</h5>
            <button *ngFor="let btD of btnData1" class="btn btn-danger one10">{{btD.btnData1}}</button>
          </div>
         </div>
         <div class="card car2" style="width: 18rem;">
          <img src="../../../../assets/Images/images/8.jpg" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title carbo">Air Cleaner</h5>
            <button *ngFor="let btD of btnData1" class="btn btn-danger one10">{{btD.btnData1}}</button>
          </div>
         </div>
      </div>
      
    </div>
    
  </div>
  
  <div class="png">
    <app-png></app-png>
  </div>
